# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [26]:
USER = 'guest'
PASS = 'relational'
HOST = 'relational.fit.cvut.cz'
PORT = '3306'
DB   = 'stats'

url = f'mysql+pymysql://{USER}:{PASS}@{HOST}:{PORT}/{DB}'

# Test if it works
engine = sqlalchemy.create_engine(url)
print(engine.table_names())

['badges', 'comments', 'postHistory', 'postLinks', 'posts', 'tags', 'users', 'votes']

In [5]:
pd.read_sql("SHOW TABLES", engine)

  Tables_in_stats
0          badges
1        comments
2     postHistory
3       postLinks
4           posts
5            tags
6           users
7           votes

#### 4. Import the users table.

In [6]:
df_users = pd.read_sql("SELECT * FROM users", engine)
df_users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

In [7]:
print(df_users.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40325 non-null  int64
 1   Reputation       40325 non-null  int64
 2   CreationDate     40325 non-null  datetime64[ns]
 3   DisplayName      40325 non-null  object
 4   LastAccessDate   40325 non-null  datetime64[ns]
 5   WebsiteUrl       8121 non-null   object
 6   Location         11691 non-null  object
 7   AboutMe          9379 non-null   object
 8   Views            40325 non-null  int64
 9   UpVotes          40325 non-null  int64
 10  DownVotes        40325 non-null  int64
 11  AccountId        40325 non-null  int64
 12  Age              8318 non-null   float64
 13  ProfileImageUrl  16479 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 14.1 MB
None

#### 5. Rename Id column to userId.

In [8]:
df_users.rename(columns={'Id':'userId'}, inplace=True)
df_users.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [9]:
df_posts = pd.read_sql("SELECT * FROM posts", engine)

In [10]:
df_posts.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  datetime64[ns]
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   OwnerUserId            90584 non-null  float64
 8   LasActivityDate        91976 non-null  datetime64[ns]
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  datetime64[ns]
 16  CommunityOwnedDate     2467 non-null   datetime64[ns]
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   datetime64[ns]
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: datetime64[ns](5), float64(7), int64(4), object(5)
memory usage: 139.1 MB

In [11]:
df_posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [12]:
df_posts.rename(columns={'Id':'postId', 'OwnerUserId': 'userId'}, inplace=True)
df_posts.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [13]:
usr_colnames = ['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']
pst_colnames = ['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']

df_users = df_users[usr_colnames]
df_posts = df_posts[pst_colnames]

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [14]:
df = df_users.merge(df_posts, on='userId', how='inner')
display(df.head())
print(df.shape)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

(90584, 9)

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [15]:
# % null values per column
df.isnull().sum()/len(df)*100

userId           0.000000
Reputation       0.000000
Views            0.000000
UpVotes          0.000000
DownVotes        0.000000
postId           0.000000
Score            0.000000
ViewCount       53.426654
CommentCount     0.000000
dtype: float64

In [16]:
missing_filter = df.isnull().sum() > 0

# Total missing values
print(df.isnull().sum()[missing_filter])
print('\n')

# Missing values ratio per column (%)
print((df.isnull().sum()[missing_filter]/len(df)*100),)
print('\n')

# Column description
df['ViewCount'].describe()

ViewCount    48396
dtype: int64


ViewCount    53.426654
dtype: float64

count     42188.000000
mean        556.656158
std        2356.930779
min           1.000000
25%          53.000000
50%         126.000000
75%         367.000000
max      175495.000000
Name: ViewCount, dtype: float64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [17]:
# We can take a missing value at colum 'ViewCount' as a post with 0 views, which might by important for our analysis, so we can fill null values as 0.
df['ViewCount'].fillna(0, inplace=True)
print((df.isnull().sum()[missing_filter]/len(df)*100))
print()
df

# More than a half of every register has a missing value at the 'ViewCount' column, maybe it isn't a consistent serie and we don't need it.
        # treshold = 50
        # null_cols = df.isnull().sum()
        # drop_filter = null_cols > treshold
        # drop_cols = list(null_cols[drop_filter].index)
        # print(drop_cols)

        # remain_cols = df.columns.difference(drop_cols)
        # print(remain_cols)

        # df = df.drop(drop_cols, axis = 1)  
        # df

# It might be that a null valule in ViewCount means that the post wasn't finally published so, if we are studying viewers interaction i.e. those rows without views aren't importan for us.

        # df.dropna(axis=0).reset_index(drop = True) #inplace = True

ViewCount    0.0
dtype: float64

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [18]:
print(df.dtypes)
display(df.describe())

col_names = df.dtypes.index.tolist()
types = ['int32', 'int32', 'int64', 'int64', 'int64', 'int32', 'int32', 'int64', 'int32']
type_dic = dict(zip(col_names, types))
print(type_dic, '\n')

print(df.info(memory_usage = 'deep'))
df = df.astype(type_dic)
print('\n\n\n')
print(df.info(memory_usage = 'deep'))

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000
mean,16546.764727,6282.395412,1034.245176,734.315718,33.273249,56539.080522,2.780767,259.253400,1.894650
std,15273.367108,15102.268670,2880.074012,2050.869327,134.936435,33840.307529,4.948922,1632.261405,2.638704
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,0.000000,0.000000
25%,3437.000000,60.000000,5.000000,1.000000,0.000000,26051.750000,1.000000,0.000000,0.000000
50%,11032.000000,396.000000,45.000000,22.000000,0.000000,57225.500000,2.000000,0.000000,1.000000
75%,27700.000000,4460.000000,514.250000,283.000000,8.000000,86145.250000,3.000000,111.000000,3.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,1920.000000,115378.000000,192.000000,175495.000000,45.000000

{'userId': 'int32', 'Reputation': 'int32', 'Views': 'int64', 'UpVotes': 'int64', 'DownVotes': 'int64', 'postId': 'int32', 'Score': 'int32', 'ViewCount': 'int64', 'CommentCount': 'int32'}

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB
None




<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int32
 1   Reputation    90584 non-null  int32
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int32
 6   Score         90584 non-null  int32
 7   ViewCount     90584 non-null  int64
 8   CommentCount  90584 non-null  int32
dtypes: int32(5), int64(4)
memory usage: 5.2 MB
None