# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats').connect()

#### 4. Import the users table.

In [4]:
sql = 'select * from users'
users_table = pd.read_sql(sql, engine)
users_table.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [5]:
users_table.rename(columns={'Id':'userId'}, inplace=True)

#### 6. Import the posts table.

In [6]:
sql2 = 'Select * from posts'
posts_table = pd.read_sql(sql2, engine)
posts_table.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [8]:
posts_table.rename(columns = {'Id':'postId',
                              'OwnerUserId':'userId'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [9]:
users_columns = ['userId','Reputation','Views','UpVotes','DownVotes']
posts_columns = ['postId','Score', 'userId', 'ViewCount','CommentCount']

sub_users = users_table[users_columns]
sub_posts = posts_table[posts_columns]

In [10]:
sub_users.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [11]:
sub_posts.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [12]:
df_merge = pd.merge(sub_users, sub_posts, on='userId')
df_merge.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [13]:
null_cols = df_merge.isnull().sum()
null_cols[null_cols>0]

ViewCount    48396
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [14]:
null_cols[null_cols>0]/df_merge.shape[0]*100

ViewCount    53.426654
dtype: float64

In [16]:
df_merge[df_merge.ViewCount.isnull()].describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,48396.000000,48396.000000,48396.000000,48396.00000,48396.000000,48396.000000,48396.000000,0.0,48396.000000
mean,11955.216216,11298.459976,1858.469998,1322.08914,60.702145,52014.940284,3.040541,NaN,1.705472
std,13251.239062,19173.759028,3726.492440,2648.65143,179.641550,33998.797331,5.108535,NaN,2.550726
min,-1.000000,1.000000,0.000000,0.00000,0.000000,5.000000,-19.000000,NaN,0.000000
25%,1352.000000,487.000000,45.000000,20.00000,0.000000,21406.750000,1.000000,NaN,0.000000
50%,7250.000000,2694.000000,315.000000,171.00000,6.000000,49838.500000,2.000000,NaN,1.000000
75%,17935.000000,11860.000000,1319.000000,1014.00000,45.000000,80709.750000,4.000000,NaN,2.000000
max,55729.000000,87393.000000,20932.000000,11442.00000,1920.000000,115378.000000,164.000000,NaN,45.000000

In [17]:
'''As we can see, there are certain columns that are related to each other such as 
Views, UpVotes, DownVotes and CommentCount.
Then, it does not make sense to clean or to fill in the null values with zero on ViewCount Column. 
Anyway, taking a look to documentation, there are several useful functions for detecting, removing, and replacing null values:
isnull(); notnull(); dropna(); fillna(); replace(), interpolate()'''

'As we can see, there are certain columns that are related to each other such as \nViews, UpVotes, DownVotes and CommentCount.\nThen, it does not make sense to clean or to fill in the null values with zero on ViewCount Column. \nAnyway, taking a look to documentation, there are several useful functions for detecting, removing, and replacing null values:\nisnull(); notnull(); dropna(); fillna(); replace(), interpolate()'

In [18]:
null_viewcount=df_merge.loc[df_merge['ViewCount'].isnull(),['postId', 'Score', 'userId','ViewCount','CommentCount','Reputation','Views','UpVotes','DownVotes']]
null_viewcount.head()

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,2175,0,-1,NaN,0,1,0,5007,1920
1,8576,0,-1,NaN,0,1,0,5007,1920
2,8578,0,-1,NaN,0,1,0,5007,1920
3,8981,0,-1,NaN,0,1,0,5007,1920
4,8982,0,-1,NaN,0,1,0,5007,1920

In [21]:
null_viewcount['ViewCount'] = null_viewcount['ViewCount'].fillna(0)
null_viewcount.head()

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,2175,0,-1,0.0,0,1,0,5007,1920
1,8576,0,-1,0.0,0,1,0,5007,1920
2,8578,0,-1,0.0,0,1,0,5007,1920
3,8981,0,-1,0.0,0,1,0,5007,1920
4,8982,0,-1,0.0,0,1,0,5007,1920

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [22]:
null_viewcount.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48396 entries, 0 to 90575
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   postId        48396 non-null  int64
 1   Score         48396 non-null  int64
 2   userId        48396 non-null  int64
 3   ViewCount     48396 non-null  float64
 4   CommentCount  48396 non-null  int64
 5   Reputation    48396 non-null  int64
 6   Views         48396 non-null  int64
 7   UpVotes       48396 non-null  int64
 8   DownVotes     48396 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 3.7 MB

In [23]:
null_viewcount.loc[:,'ViewCount'] = null_viewcount['ViewCount'].astype('int64')
null_viewcount['ViewCount']

0        0
1        0
2        0
3        0
4        0
        ..
90518    0
90521    0
90528    0
90536    0
90575    0
Name: ViewCount, Length: 48396, dtype: int64

In [24]:
null_viewcount.dtypes

postId          int64
Score           int64
userId          int64
ViewCount       int64
CommentCount    int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
dtype: object