# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import pandas as pd
from sqlalchemy import create_engine #creating an engine on sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
USER = 'guest'
PASSWORD = 'relational'
HOST = 'relational.fit.cvut.cz'
PORT = '3306'
DATABASE = 'stats'
db_connection_str = f'mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}'
db_connection = create_engine(db_connection_str)
#connection link coming form Javi

#### 4. Import the users table.

In [4]:
query = 'SELECT * FROM users'
df = pd.read_sql(query, con=db_connection ) #selecting the first bunch of data

#### 5. Rename Id column to userId.

In [5]:
df.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

In [6]:
df.columns.values.tolist() #letś see the dataset columns

['Id',
 'Reputation',
 'CreationDate',
 'DisplayName',
 'LastAccessDate',
 'WebsiteUrl',
 'Location',
 'AboutMe',
 'Views',
 'UpVotes',
 'DownVotes',
 'AccountId',
 'Age',
 'ProfileImageUrl']

In [7]:
df.rename(columns={'Id': 'userId'}, inplace=True) #use the replace function to rename

In [8]:
df.columns.values.tolist() #Id changed to USer Id

['userId',
 'Reputation',
 'CreationDate',
 'DisplayName',
 'LastAccessDate',
 'WebsiteUrl',
 'Location',
 'AboutMe',
 'Views',
 'UpVotes',
 'DownVotes',
 'AccountId',
 'Age',
 'ProfileImageUrl']

In [9]:
#df.set_index('userId', inplace=True)

In [10]:
df.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

In [11]:
df['userId']=df['userId'].replace([-1], 1) #change the -1 to 1. The index was wrong.
df.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [12]:
query_2 = 'SELECT * FROM posts'
df_2 = pd.read_sql(query_2, con=db_connection ) #selecting the first bunch of data

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [13]:
df_2.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

In [14]:
df_2.columns.values.tolist() #Rename Id column to postId and OwnerUserId to userId.

['Id',
 'PostTypeId',
 'AcceptedAnswerId',
 'CreaionDate',
 'Score',
 'ViewCount',
 'Body',
 'OwnerUserId',
 'LasActivityDate',
 'Title',
 'Tags',
 'AnswerCount',
 'CommentCount',
 'FavoriteCount',
 'LastEditorUserId',
 'LastEditDate',
 'CommunityOwnedDate',
 'ParentId',
 'ClosedDate',
 'OwnerDisplayName',
 'LastEditorDisplayName']

In [15]:
df_2.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'}, inplace=True) #use the replace function to rename

In [16]:
df_2.columns.values.tolist()

['postId',
 'PostTypeId',
 'AcceptedAnswerId',
 'CreaionDate',
 'Score',
 'ViewCount',
 'Body',
 'userId',
 'LasActivityDate',
 'Title',
 'Tags',
 'AnswerCount',
 'CommentCount',
 'FavoriteCount',
 'LastEditorUserId',
 'LastEditDate',
 'CommunityOwnedDate',
 'ParentId',
 'ClosedDate',
 'OwnerDisplayName',
 'LastEditorDisplayName']

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [17]:
user_columns= df[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_columns= df_2[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

In [18]:
user_columns

       userId  Reputation  Views  UpVotes  DownVotes
0           1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [19]:
posts_columns

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [20]:
df_final =  df.merge(df_2, how = 'inner', on = 'userId')

In [21]:
df_final.describe() #with the inner join we reduce the amount of missing values

,userId,Reputation,Views,UpVotes,DownVotes,AccountId,Age,postId,PostTypeId,AcceptedAnswerId,Score,ViewCount,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,ParentId
count,90373.000000,90373.000000,90373.000000,90373.000000,90373.00000,9.037300e+04,26804.000000,90373.000000,90373.000000,14563.000000,90373.000000,42188.000000,42188.000000,90373.000000,12979.000000,43926.000000,47100.000000
mean,16585.399920,6297.061014,1036.659898,724.339991,28.86818,1.462469e+06,34.398038,56558.789019,1.562447,52459.683101,2.787259,556.656158,1.107424,1.899074,2.538639,12055.639507,48730.970722
std,15270.218327,15116.834946,2883.000130,2042.831900,99.59766,1.364009e+06,13.613334,33856.925790,0.591483,33454.931261,4.952869,2356.930779,1.490476,2.640192,5.938384,13423.234184,34033.547758
min,5.000000,1.000000,0.000000,0.000000,0.00000,4.000000e+00,13.000000,1.000000,1.000000,5.000000,-19.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,1.000000
25%,3488.000000,61.000000,5.000000,1.000000,0.00000,2.859280e+05,27.000000,26034.000000,1.000000,22246.500000,1.000000,53.000000,0.000000,0.000000,1.000000,930.000000,18029.500000
50%,11075.000000,401.000000,46.000000,22.000000,0.00000,1.074701e+06,32.000000,57266.000000,2.000000,50136.000000,2.000000,126.000000,1.000000,1.000000,1.000000,7290.000000,45268.000000
75%,27765.000000,4460.000000,515.000000,283.000000,8.00000,2.381666e+06,41.000000,86184.000000,2.000000,80638.500000,3.000000,367.000000,2.000000,3.000000,2.000000,22047.000000,77444.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,779.00000,5.026998e+06,94.000000,115378.000000,6.000000,115345.000000,192.000000,175495.000000,136.000000,45.000000,233.000000,55733.000000,115375.000000

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [22]:
df_final.isnull().sum() #list of nulls per columns

userId                       0
Reputation                   0
CreationDate                 0
DisplayName                  0
LastAccessDate               0
WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Views                        0
UpVotes                      0
DownVotes                    0
AccountId                    0
Age                      63569
ProfileImageUrl          66310
postId                       0
PostTypeId                   0
AcceptedAnswerId         75810
CreaionDate                  0
Score                        0
ViewCount                48185
Body                        37
LasActivityDate              0
Title                    48185
Tags                     48185
AnswerCount              48185
CommentCount                 0
FavoriteCount            77394
LastEditorUserId         46447
LastEditDate             46228
CommunityOwnedDate       87986
ParentId                 43273
ClosedDate               88813
OwnerDisplayName         89252
LastEditorDisplayName    90133
dtype: int64

In [23]:
df_final.isnull().sum() > 0 #Boolean to know which one are null 
null_cols = df_final.isnull().sum() # null dataframe

null_cols[null_cols > 0]

WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Age                      63569
ProfileImageUrl          66310
AcceptedAnswerId         75810
ViewCount                48185
Body                        37
Title                    48185
Tags                     48185
AnswerCount              48185
FavoriteCount            77394
LastEditorUserId         46447
LastEditDate             46228
CommunityOwnedDate       87986
ParentId                 43273
ClosedDate               88813
OwnerDisplayName         89252
LastEditorDisplayName    90133
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [24]:
a =null_cols[null_cols > 0] / len(df_final) * 100 #let's understand whatś the null weight over the data length so we can establish a threshold
print(a)
threshold = a.mean() # my mean will be the threshold, over the threshold data will be eliminated

WebsiteUrl               64.746108
Location                 55.472320
AboutMe                  54.109081
Age                      70.340699
ProfileImageUrl          73.373685
AcceptedAnswerId         83.885674
ViewCount                53.317916
Body                      0.040941
Title                    53.317916
Tags                     53.317916
AnswerCount              53.317916
FavoriteCount            85.638410
LastEditorUserId         51.394775
LastEditDate             51.152446
CommunityOwnedDate       97.358724
ParentId                 47.882664
ClosedDate               98.273821
OwnerDisplayName         98.759585
LastEditorDisplayName    99.734434
dtype: float64

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [25]:
null_filter = null_cols > threshold
drop_cols = list(null_cols[null_filter].index)
drop_cols #this will be the suggested columns to eliminate

['WebsiteUrl',
 'Location',
 'AboutMe',
 'Age',
 'ProfileImageUrl',
 'AcceptedAnswerId',
 'ViewCount',
 'Title',
 'Tags',
 'AnswerCount',
 'FavoriteCount',
 'LastEditorUserId',
 'LastEditDate',
 'CommunityOwnedDate',
 'ParentId',
 'ClosedDate',
 'OwnerDisplayName',
 'LastEditorDisplayName']

In [26]:
remain_columns = df_final.columns.difference(drop_cols)

In [27]:
remain_columns #columns that we are going to keep

Index(['AccountId', 'Body', 'CommentCount', 'CreaionDate', 'CreationDate',
       'DisplayName', 'DownVotes', 'LasActivityDate', 'LastAccessDate',
       'PostTypeId', 'Reputation', 'Score', 'UpVotes', 'Views', 'postId',
       'userId'],
      dtype='object')

In [28]:
print("According to this  missing data analysis, this will be the new column lenght",len(remain_columns), "Instead of ", len(df_final.columns))

According to this  missing data analysis, this will be the new column lenght 16 Instead of  34

In [29]:

# first approach, load data again using only valid columns...

#data_final = df_final[['AccountId', 'Body', 'CommentCount', 'CreaionDate', 'CreationDate','DisplayName', 'DownVotes', 'LasActivityDate', 'LastAccessDate','PostTypeId', 'Reputation', 'Score', 'UpVotes', 'Views', 'postId','userId']]

In [30]:
data_final = df_final[remain_columns]

In [31]:
data_final.head()

,AccountId,Body,CommentCount,CreaionDate,CreationDate,DisplayName,DownVotes,LasActivityDate,LastAccessDate,PostTypeId,Reputation,Score,UpVotes,Views,postId,userId
0,54503,"<p>Last year, I read a blog post from <a href=...",5,2010-07-19 19:14:44,2010-07-19 19:03:57,Shane,5,2014-05-29 03:54:31,2014-08-13 00:23:47,1,6792,152,662,1145,6,5
1,54503,"<p>See my response to <a href=""http://stackove...",1,2010-07-19 19:18:41,2010-07-19 19:03:57,Shane,5,2010-07-19 19:18:41,2014-08-13 00:23:47,2,6792,20,662,1145,12,5
2,54503,"<p>I recommend R (see <a href=""http://cran.r-p...",0,2010-07-19 19:29:06,2010-07-19 19:03:57,Shane,5,2010-07-19 19:29:06,2014-08-13 00:23:47,2,6792,12,662,1145,32,5
3,54503,<p>You don't need to install any packages beca...,0,2010-07-19 19:36:52,2010-07-19 19:03:57,Shane,5,2010-07-19 19:36:52,2014-08-13 00:23:47,2,6792,6,662,1145,49,5
4,54503,"<p>Yes, there are many methods. You would nee...",0,2010-07-19 19:46:08,2010-07-19 19:03:57,Shane,5,2010-07-19 20:12:16,2014-08-13 00:23:47,2,6792,6,662,1145,64,5

In [32]:
data_final.describe()

,AccountId,CommentCount,DownVotes,PostTypeId,Reputation,Score,UpVotes,Views,postId,userId
count,9.037300e+04,90373.000000,90373.00000,90373.000000,90373.000000,90373.000000,90373.000000,90373.000000,90373.000000,90373.000000
mean,1.462469e+06,1.899074,28.86818,1.562447,6297.061014,2.787259,724.339991,1036.659898,56558.789019,16585.399920
std,1.364009e+06,2.640192,99.59766,0.591483,15116.834946,4.952869,2042.831900,2883.000130,33856.925790,15270.218327
min,4.000000e+00,0.000000,0.00000,1.000000,1.000000,-19.000000,0.000000,0.000000,1.000000,5.000000
25%,2.859280e+05,0.000000,0.00000,1.000000,61.000000,1.000000,1.000000,5.000000,26034.000000,3488.000000
50%,1.074701e+06,1.000000,0.00000,2.000000,401.000000,2.000000,22.000000,46.000000,57266.000000,11075.000000
75%,2.381666e+06,3.000000,8.00000,2.000000,4460.000000,3.000000,283.000000,515.000000,86184.000000,27765.000000
max,5.026998e+06,45.000000,779.00000,6.000000,87393.000000,192.000000,11442.000000,20932.000000,115378.000000,55746.000000