# Data Cleaning 

#### 1. Import pandas library.

In [81]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import pymysql
import sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
SQLALCHEMY_DATABASE = 'mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats'

engine = sqlalchemy.create_engine(SQLALCHEMY_DATABASE, echo=True)

# Print if all OK
print(engine.table_names())

2020-06-06 20:00:05,101 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-06-06 20:00:05,102 INFO sqlalchemy.engine.base.Engine {}
2020-06-06 20:00:05,347 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-06-06 20:00:05,348 INFO sqlalchemy.engine.base.Engine {}
2020-06-06 20:00:05,519 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-06-06 20:00:05,520 INFO sqlalchemy.engine.base.Engine {}
2020-06-06 20:00:05,747 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-06-06 20:00:05,748 INFO sqlalchemy.engine.base.Engine {}
2020-06-06 20:00:05,815 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-06-06 20:00:05,816 INFO sqlalchemy.engine.base.Engine {}
2020-06-06 20:00:05,888 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-06-06 20:00:05,888 INFO sqlalchemy.engine.base.Engine {}
2020-06-06 20:00:05,966 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-06-06 20:00:05,967 INFO sqlalchemy.engine.base.Engine {}
2020-06-06 20:00:06,139 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `stats`
2020-06-06 20:00:06,140 INFO sqlalchemy.engine.base.Engine {}
['badges', 'comments', 'postHistory', 'postLinks', 'posts', 'tags', 'users', 'votes']

In [6]:
%load_ext sql
%config SqlMagic.autocommit = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%sql mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats

#### 4. Import the users table.

In [20]:
%%sql table_users <<

select * from users;

 * mysql+pymysql://guest:***@relational.fit.cvut.cz:3306/stats
40325 rows affected.
Returning data to local variable table_users

In [33]:
df_users = table_users.DataFrame()

#### 5. Rename Id column to userId.

In [34]:
df_users.rename(columns={'Id':'userID'}, inplace=True)
df_users.head()

,userID,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [35]:
%%sql table_posts <<

select * from posts;

 * mysql+pymysql://guest:***@relational.fit.cvut.cz:3306/stats
91976 rows affected.
Returning data to local variable table_posts

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [37]:
df_posts = table_posts.DataFrame()
df_posts.rename(columns={'Id':'postID', 'OwnerUserId':'userID'}, inplace=True)
df_posts.head()

,postID,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userID,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [38]:
new_df_users = df_users[['userID','Reputation','Views','UpVotes','DownVotes']]
new_df_posts = df_posts[['postID','Score','userID','ViewCount','CommentCount']]

In [39]:
new_df_users

       userID  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [40]:
new_df_posts

       postID  Score   userID  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

In [178]:
df_merged = pd.merge(new_df_users, new_df_posts, how='inner', on='userID')
df_merged

,userID,Reputation,Views,UpVotes,DownVotes,postID,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [179]:
null_data = df_merged.isnull().sum()
null_data

userID              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postID              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

In [180]:
# To be able to make an informed decision about missing data I also need to know how much missing data it is

percentage_nulls = round(null_data[null_data > 0] / len(df_merged) * 100, 3)

print(f'\n{len(percentage_nulls)}\t{percentage_nulls}')

1	ViewCount    53.427
dtype: float64

In [181]:
# General Information

df_merged.info()
print('\n')
df_merged.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userID        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postID        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     42188 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB

(90584, 9)

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [182]:
"""Dear TA: As shown in previous cells, 53.43% of de ViewCount col is missing,
            ViewCount is a counter, rather than deleting the column, NaN == 0 """

df_merged.fillna(0, inplace= True)

In [183]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userID        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postID        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [184]:
"""Data Cleaning techniques:
        1. Incorrect values_ if entries are incorrect
        2. Low variance columns
        3. Outliers
        4. Data type connections
        5. Cleaning text and removing special chars
        6. Drop duplicates"""

'Data Cleaning techniques:\n        1. Incorrect values_ if entries are incorrect\n        2. Low variance columns\n        3. Outliers\n        4. Data type connections\n        5. Cleaning text and removing special chars\n        6. Drop duplicates'

In [185]:
df_merged.head()

,userID,Reputation,Views,UpVotes,DownVotes,postID,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0

In [186]:
"""2.Low Variance columns: no data with low variance"""

low_variance = []

for col in df_merged._get_numeric_data():
    minimum = min(df_merged[col])
    maximum = max(df_merged[col])
    
    ten_perc = np.percentile(df_merged[col], 10)
    ninety_perc = np.percentile(df_merged[col], 90)
    
    if ten_perc == maximum or ninety_perc == minimum:
        low_variance.append(col)

low_variance

[]

In [187]:
"""3. Outliers"""
stats = df_merged.describe().T
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userID,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postID,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

In [188]:
outliers = pd.DataFrame(columns=df_merged.columns)

for col in stats.index:
    
    # Selection of value per column
    iqr = stats.loc[col, 'IQR']
    q_25 = stats.loc[col, '25%']
    q_75 = stats.loc[col, '75%']
    
    # Thresholds
    lower = q_25 - 1.8 * iqr
    upper = q_75 + 1.8 * iqr
    
    #  Filters
    filter_lower = df_merged[col] < lower
    filter_upper = df_merged[col] > upper
    
    results = df_merged[filter_upper | filter_lower].copy()
    
    results['outlier_col'] = col
    outliers = outliers.append(results)

# Percentage of Outliers
print(f'{round(len(outliers)*100/len(df_merged), 3)}')

86.607

In [197]:
"""4. Data type connections: All columns"""
df_merged.dtypes

# Change data type from ViewCount
df_merged['ViewCount'] = df_merged['ViewCount'].astype('int64')

In [195]:
# Cheking types have changes
df_merged.dtypes

userID          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postID          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

In [198]:
# Final DataFrame
df_merged

,userID,Reputation,Views,UpVotes,DownVotes,postID,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0,0
1,-1,1,0,5007,1920,8576,0,0,0
2,-1,1,0,5007,1920,8578,0,0,0
3,-1,1,0,5007,1920,8981,0,0,0
4,-1,1,0,5007,1920,8982,0,0,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16,0
90580,55738,11,0,0,0,115360,2,40,4
90581,55742,6,0,0,0,115366,1,17,0
90582,55744,6,1,0,0,115370,1,13,2
90583,55746,106,1,0,0,115376,1,5,2