# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
# your code here

import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./tic-tac-toe.csv')
data.describe()

         TL   TM   TR   ML   MM   MR   BL   BM   BR class
count   958  958  958  958  958  958  958  958  958   958
unique    3    3    3    3    3    3    3    3    3     2
top       x    x    x    x    x    x    x    x    x  True
freq    418  378  418  378  458  378  418  378  418   626

In [3]:
data.TL.unique()

array(['x', 'o', 'b'], dtype=object)

In [4]:
column_values = data[["TL", "TM", "TR", "ML", "MM", "MR", "BL", "BM", "BR", "class"]].values.ravel()

unique_values =  pd.unique(column_values)

unique_values

array(['x', 'o', True, 'b', False], dtype=object)

In [5]:
data.isnull().sum()

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

In [6]:
data.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [7]:
data.columns

Index(['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], dtype='object')

In [8]:
num_map = {'x': 2, 'o': 3, 'b':4, True:1, False:0}

In [9]:
for c in data.columns:
    data[c] = data[c].map(num_map)

data

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     2   2   2   2   3   3   2   3   3      1
1     2   2   2   2   3   3   3   2   3      1
2     2   2   2   2   3   3   3   3   2      1
3     2   2   2   2   3   3   3   4   4      1
4     2   2   2   2   3   3   4   3   4      1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953   3   2   2   2   3   3   3   2   2      0
954   3   2   3   2   2   3   2   3   2      0
955   3   2   3   2   3   2   2   3   2      0
956   3   2   3   3   2   2   2   3   2      0
957   3   3   2   2   2   3   3   2   2      0

[958 rows x 10 columns]

In [12]:
input_data  = data.drop('class', axis = 1)
output_data = data['class']

In [13]:
from keras.utils import to_categorical, normalize
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MinMaxScaler

In [14]:
scaler = Normalizer().fit(input_data)
scaled_input = scaler.transform(input_data)

scaled_input

array([[0.26726124, 0.26726124, 0.26726124, ..., 0.26726124, 0.40089186,
        0.40089186],
       [0.26726124, 0.26726124, 0.26726124, ..., 0.40089186, 0.26726124,
        0.40089186],
       [0.26726124, 0.26726124, 0.26726124, ..., 0.40089186, 0.40089186,
        0.26726124],
       ...,
       [0.40089186, 0.26726124, 0.40089186, ..., 0.26726124, 0.40089186,
        0.26726124],
       [0.40089186, 0.26726124, 0.40089186, ..., 0.26726124, 0.40089186,
        0.26726124],
       [0.40089186, 0.40089186, 0.26726124, ..., 0.40089186, 0.26726124,
        0.26726124]])

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [15]:
# your code here
input_train, input_test = train_test_split(scaled_input)
output_train, output_test = train_test_split(output_data)
input_train.shape, output_train.shape, input_test.shape, output_test.shape

((718, 9), (718,), (240, 9), (240,))

In [16]:
from keras.wrappers.scikit_learn import KerasClassifier
from keras.layers.experimental.preprocessing import Normalization
from keras.models import Sequential
from keras.layers import Dense, Activation, BatchNormalization, Softmax
from keras.optimizers import Adam
from keras.losses import SparseCategoricalCrossentropy
from keras.losses import CategoricalCrossentropy
from keras.losses import BinaryCrossentropy
from keras.models import model_from_json
import tensorflow as tf
import random
from random import randint

In [26]:
model = Sequential([Dense(9, input_shape = (9,), activation = 'relu'),Dense(2, activation = 'relu'), Dense(3, activation = 'relu'), Softmax(1)])

In [27]:
model.compile(optimizer = Adam(), loss = SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [28]:
mod_fit = model.fit(input_train, output_train, epochs = 100, batch_size = 50, verbose = 0, validation_data=(input_test, output_test))
scores = model.evaluate(input_test, output_test, verbose = 1)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

8/8 [==============================] - 0s 564us/step - loss: 0.6457 - accuracy: 0.6542
accuracy: 65.42%

In [29]:
model_json = model.to_json()
with open("tic-tac-toe.model.json", "w") as json_file:
    json_file.write(model_json)
    
model.save_weights("tic-tac-toe.model.h5")
print("Saved model to disk")

Saved model to disk

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [30]:
# your code here
json_file = open('tic-tac-toe.model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("tic-tac-toe.model.h5")
print("Loaded model from disk")

Loaded model from disk

In [32]:
import random


predict = loaded_model.predict_classes(input_test)

k = 100
l = []

for i in random.choices(range(len(predict)), k = k):
    if predict[i] == output_test.to_numpy()[i]:
        l.append(i)
print(f'from {k} predictions {len(l)} predictions have been correct')

from 100 predictions 73 predictions have been correct

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [83]:
opt = tf.keras.optimizers.Adam(
    learning_rate=0.06, 
    name='Adam')

In [85]:
# your code here
model = Sequential([Dense(9, input_shape = (9,), activation = 'relu'),Dense(4, activation = 'relu'), Dense(3, activation = 'relu'), Dense(3, activation = 'relu'), Dense(3, activation = 'relu'), Softmax(1)])
model.compile(optimizer = opt, loss = SparseCategoricalCrossentropy(), metrics = ['accuracy'])
mod_fit = model.fit(input_train, output_train, epochs = 900, batch_size = 100, verbose = 0, validation_data=(input_test, output_test))
scores = model.evaluate(input_train, output_train, verbose = 1)
scores1 = model.evaluate(input_test, output_test, verbose = 1)

23/23 [==============================] - 0s 572us/step - loss: 0.6492 - accuracy: 0.6532
8/8 [==============================] - 0s 624us/step - loss: 0.6488 - accuracy: 0.6542

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here