# Plotting Multiple Data Series

Complete the following set of exercises to solidify your knowledge of plotting multiple data series with pandas, matplotlib, and seaborn. Part of the challenge that comes with plotting multiple data series is transforming the data into the form needed to visualize it like you want. For some of the exercises in this lab, you will need to transform the data into the form most appropriate for generating the visualization and then create the plot.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import plotly.express as px
import cufflinks as cf
from IPython.display import HTML

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
HTML('''<script>
code_show=true;
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
}
$( document ).ready(code_toggle);
</script>
The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

In [3]:
data = pd.read_csv('../data/liquor_store_sales.csv')
data.head()

,Year,Month,Supplier,ItemCode,Description,ItemType,RetailSales,RetailTransfers,WarehouseSales
0,2017,4,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.0,1.0,0.0
1,2017,4,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.0,1.0,0.0
2,2017,4,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,0.0,8.0,0.0
3,2017,4,HEAVEN HILL DISTILLERIES INC,10120,J W DANT BOURBON 100P - 1.75L,LIQUOR,0.0,2.0,0.0
4,2017,4,ROYAL WINE CORP,101664,RAMON CORDOVA RIOJA - 750ML,WINE,0.0,4.0,0.0

## 1. Create a bar chart with bars for total Retail Sales, Retail Transfers, and Warehouse Sales by Item Type.

In [4]:
cf.go_offline()

In [5]:
data_df_bar = data.groupby('ItemType', as_index=False).agg({'RetailSales': 'sum', 'RetailTransfers': 'sum', 'WarehouseSales': 'sum'})

In [8]:
data_df_bar.iplot(kind='bar', x='ItemType', y=['RetailSales', 'RetailTransfers', 'WarehouseSales'])

In [ ]:
px.bar(data_df_bar, x='ItemType', y=['RetailSales', 'RetailTransfers', 'WarehouseSales'])

## 2. Create a horizontal bar chart showing sales mix for the top 10 suppliers with the most total sales.

In [12]:
data[['RetailSales', 'RetailTransfers', 'WarehouseSales']].sum()

RetailSales         842398.67
RetailTransfers     922636.35
WarehouseSales     2903930.83
dtype: float64

In [18]:
data['TotalSales'] = data['RetailSales'] + data['RetailTransfers'] + data['WarehouseSales']

In [19]:
top_10 = data.groupby('Supplier', as_index=False).agg({'RetailSales': 'sum', 'RetailTransfers': 'sum', 'WarehouseSales': 'sum'})

In [23]:
df_top_sales = data[['RetailSales', 'RetailTransfers', 'WarehouseSales', 'TotalSales', 'Supplier']].groupby('Supplier', as_index=False).sum().sort_values(by='TotalSales', ascending=False).iloc[:10]

In [25]:
top_10 = df_top_sales.groupby('Supplier', as_index=False)['RetailSales', 'RetailTransfers', 'WarehouseSales', 'TotalSales'].sum().sort_values(by='TotalSales', ascending=True).head(10)

In [ ]:
fig = px.bar(top_10, x=['RetailSales', 
                  'RetailTransfers', 
                  'WarehouseSales', 
                  'TotalSales'], 
       y='Supplier', 
       barmode='group', 
       orientation='h')
fig.update_layout(xaxis={'categoryorder':'array', 'categoryarray':top_10.index})

## 3. Create a multi-line chart that shows average Retail Sales, Retail Transfers, and Warehouse Sales per month over time.

In [28]:
avg_sale_by_month = data.pivot_table(
        values=['RetailSales', 
                'RetailTransfers',
                'WarehouseSales'], 
        index=['Year', 'Month'], 
        aggfunc='mean')

In [ ]:
avg_sale_by_month.iplot(kind='line',  
                       xTitle='month_year', 
                       yTitle='sales', 
                       title='AVG sales by month',
                       subplots=False)

## 4. Plot the same information as above but as a bar chart.

In [ ]:
avg_sale_by_month.iplot(kind='line',  
                       xTitle='month_year', 
                       yTitle='sales', 
                       title='AVG sales by month',
                       subplots=False)

## 5. Create a multi-line chart that shows Retail Sales summed by Item Type over time (Year & Month).

*Hint: There should be a line representing each Item Type.*

In [ ]:

avg_retail_sale_by_month = data.pivot_table(
        values=['RetailSales', 
                'ItemType'], 
        index=['Year', 'Month'], 
        aggfunc='sum')

In [ ]:
avg_retail_sale_by_month.iplot(kind='line',  
                       xTitle='month_year', 
                       yTitle='RetailSales', 
                       title='sum Reatail sale by itemType',
                       subplots=False)

## 6. Plot the same information as above but as a bar chart.

In [ ]:
avg_retail_sale_by_month.iplot(kind='line',  
                       xTitle='month_year', 
                       yTitle='RetailSales', 
                       title='sum Reatail sale by itemType',
                       subplots=False)

## 7. Create a scatter plot showing the relationship between Retail Sales (x-axis) and Retail Transfers (y-axis) with the plot points color-coded according to their Item Type.

*Hint: Seaborn's lmplot is the easiest way to generate the scatter plot.*

In [ ]:
avg_retail_sale_by_month.iplot(kind='line',  
                       xTitle='month_year', 
                       yTitle='RetailSales', 
                       title='sum Reatail sale by itemType',
                       subplots=False)

## 8. Create a scatter matrix using all the numeric fields in the data set with the plot points color-coded by Item Type.

*Hint: Seaborn's pairplot may be your best option here.*

In [ ]:
avg_retail_sale_by_month.iplot(kind='line',  
                       xTitle='month_year', 
                       yTitle='RetailSales', 
                       title='sum Reatail sale by itemType',
                       subplots=False)