## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
# Your code here
import random


sample_list_1 = random.sample(range(100), k=80)

sample_list_1

[60,
 64,
 34,
 40,
 67,
 86,
 56,
 68,
 22,
 29,
 28,
 97,
 12,
 24,
 87,
 91,
 61,
 2,
 19,
 26,
 79,
 8,
 20,
 90,
 65,
 58,
 71,
 15,
 53,
 13,
 11,
 55,
 98,
 80,
 89,
 16,
 21,
 96,
 37,
 30,
 14,
 81,
 32,
 85,
 45,
 50,
 25,
 41,
 77,
 17,
 44,
 0,
 95,
 43,
 63,
 93,
 70,
 84,
 4,
 66,
 78,
 99,
 42,
 47,
 76,
 49,
 75,
 52,
 88,
 10,
 35,
 54,
 7,
 72,
 82,
 36,
 38,
 59,
 73,
 3]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [32]:
# Your code here

sample_list_2 = []

test_list = random.sample(range(100), k=80)

for i in test_list:
    sample_list_2.append (i)

sample_list_2

[36,
 19,
 9,
 4,
 44,
 38,
 52,
 60,
 85,
 97,
 23,
 62,
 87,
 8,
 33,
 41,
 15,
 45,
 71,
 55,
 80,
 6,
 59,
 66,
 37,
 77,
 18,
 51,
 98,
 91,
 22,
 76,
 78,
 14,
 90,
 27,
 50,
 31,
 47,
 68,
 64,
 11,
 16,
 67,
 82,
 49,
 39,
 63,
 65,
 28,
 32,
 89,
 92,
 70,
 26,
 7,
 1,
 75,
 99,
 5,
 73,
 12,
 58,
 53,
 29,
 83,
 17,
 34,
 74,
 57,
 43,
 56,
 84,
 95,
 10,
 24,
 30,
 96,
 93,
 3]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [35]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [39]:
# Your code here

set3 = [item for item in set1 if item not in set2]
set3

[0, 2, 13, 20, 21, 25, 35, 40, 42, 54, 61, 72, 79, 81, 86, 88]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [40]:
# Your code here

set4 = [item for item in set2 if item not in set1 ]
set4

[1, 5, 6, 9, 18, 23, 27, 31, 33, 39, 51, 57, 62, 74, 83, 92]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [42]:
# Your code here

set5 = [item for item in set1 if item in set2]
set5

[3,
 4,
 7,
 8,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 19,
 22,
 24,
 26,
 28,
 29,
 30,
 32,
 34,
 36,
 37,
 38,
 41,
 43,
 44,
 45,
 47,
 49,
 50,
 52,
 53,
 55,
 56,
 58,
 59,
 60,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 73,
 75,
 76,
 77,
 78,
 80,
 82,
 84,
 85,
 87,
 89,
 90,
 91,
 93,
 95,
 96,
 97,
 98,
 99]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [47]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

if set1 == set2:
    True
if set1 = set3+set4:
    True

SyntaxError: invalid syntax (<ipython-input-47-d8b6d1aca56f>, line 11)

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here