## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [8]:
# Your code here
tup=('I',)

tup

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [9]:
# Your code here
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [20]:
# Your code here
list_ronhack=["r", "o", "n", "h", "a", "c", "k"]
tup=list(tup)
for x in list_ronhack:
    tup.append(x)
tup=tuple(tup)
tup

# Your explanation here
#you couldn't change a tuple is uninterable
#You should to convert the tuple to a list and append the new elements, therefore convert again to a tuple

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [ ]:
# Your code here

# Your explanation here

#you couldn't change a tuple is uninterable.

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [37]:
# Your code here
tup1=[value for pos,value in enumerate(tup) if pos <4]
tup1=tuple(tup1)
print(tup1)
#tup2=[value for pos,value in enumerate(tup) if pos==-2]
tup2=[tup[x]for x in range(-4,0)]
tup2=tuple(tup2)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [41]:
# Your code here
tup3=tuple(list(tup1)+list(tup2))
tup3==tup

True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [45]:
# Your code here
tup1_tup2=len(tup1)+len(tup2)
len(tup3)==tup1_tup2

True

#### What is the index number of `"h"` in `tup3`?

In [48]:
# Your code here

index_h=[pos for pos,value in enumerate(tup3)if value=='h']
index_h

[4]

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [56]:
# Your code here
letters = ["a", "b", "c", "d", "e"]
for x in letters:
    if x in tup3:
        print(f'Is {x} in tup3? True')
    else:
        print(f'Is {x} in tup3? False')

Is a in tup3? True
Is b in tup3? False
Is c in tup3? True
Is d in tup3? False
Is e in tup3? False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [63]:
# Your code here

for x in letters:
    print(f'{x} occurrence {tup3.count(x)} times')

a occurrence 1 times
b occurrence 0 times
c occurrence 1 times
d occurrence 0 times
e occurrence 0 times