# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy.stats import ttest_rel, ttest_1samp, ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('C:\projects\\tareas_bootcamp\\dataptmad0420\\module-2\\two-sample-hypothesis-tests\\pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

pokemon_legen = pokemon[(pokemon['Legendary'] == True)]

pokemon_notlegen = pokemon[(pokemon['Legendary'] == False)]

print("Legendary:",len(pokemon_legen))
print("Not Legendary:",len(pokemon_notlegen))

print("Total:",len(pokemon_legen)+len(pokemon_notlegen))

Legendary: 65
Not Legendary: 735
Total: 800

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here:

leg_mean= pokemon_legen['Total'].mean()
led_std= pokemon_legen['Total'].std()

noleg_mean = pokemon_notlegen['Total'].mean()
noled_std = pokemon_notlegen['Total'].std()

print("Mean of the total points for Legendary Pokemon:",leg_mean)
print("Standard deviation of the total points for Legendary Pokemon:",led_std)

print("Mean of the total points Not Legendary Pokemon:",noleg_mean)
print("Standard deviation of the total points Not Legendary Pokemon:",noled_std)

Mean of the total points for Legendary Pokemon: 637.3846153846154
Standard deviation of the total points for Legendary Pokemon: 60.93738905315346
Mean of the total points Not Legendary Pokemon: 417.21360544217686
Standard deviation of the total points Not Legendary Pokemon: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [16]:
#https://stackoverflow.com/questions/22611446/perform-2-sample-t-test
# Your code here:

t, p = ttest_ind(pokemon_legen['Total'],pokemon_notlegen['Total'], equal_var=False)

print("ttest_ind: t = %g  p = %g" % (t, p))


#t2, p2 = ttest_ind_from_stats(abar, np.sqrt(avar), na,
#                              bbar, np.sqrt(bvar), nb,
#                              equal_var=False)
#print("ttest_ind_from_stats: t = %g  p = %g" % (t2, p2))

ttest_ind: t = 25.8336  p = 9.35795e-47

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# The t-value and p-value are very high

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [28]:
# Your code here:

Type1_count = {new_list: [] for new_list in list(set(pokemon['Type 1']))}

for i in list(set(pokemon['Type 1'])):
    value=0
    for j in pokemon['Type 1']:
        if i == j:
            value += 1
            Type1_count[i] = value

Type1_count

{'Bug': 69,
 'Dark': 31,
 'Dragon': 32,
 'Electric': 44,
 'Fairy': 17,
 'Fighting': 27,
 'Fire': 52,
 'Flying': 4,
 'Ghost': 32,
 'Grass': 70,
 'Ground': 32,
 'Ice': 24,
 'Normal': 98,
 'Poison': 28,
 'Psychic': 57,
 'Rock': 44,
 'Steel': 27,
 'Water': 112}

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [34]:
# Your code here:
water_pokemon = pokemon[(pokemon['Type 1'] == 'Water')]['Total']
Nowater_pokemon = pokemon[(pokemon['Type 1'] != 'Water')]['Total']

mean_water = water_pokemon.mean()
std_water = water_pokemon.std()

mean_nowater = Nowater_pokemon.mean()
std_nowater = Nowater_pokemon.std()


print("Mean of the total points for water Pokemon:",leg_mean)
print("Standard deviation of the total points for water Pokemon:",led_std)

print("Mean of the total points Not water Pokemon:",noleg_mean)
print("Standard deviation of the total points Not water Pokemon:",noled_std)

Mean of the total points for water Pokemon: 637.3846153846154
Standard deviation of the total points for water Pokemon: 60.93738905315346
Mean of the total points Not water Pokemon: 417.21360544217686
Standard deviation of the total points Not water Pokemon: 106.76041745713022

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [35]:
# Your code here:

t, p = ttest_ind(water_pokemon,Nowater_pokemon, equal_var=False)

print("ttest_ind: t = %g  p = %g" % (t, p))

ttest_ind: t = -0.463868  p = 0.643392

Write your conclusion below.

In [10]:
# Your conclusions here:

# Is a low p-value

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [36]:
# Your code here:

ttest_rel(pokemon['Defense'],pokemon['Attack'])

Ttest_relResult(statistic=-4.3255663933304778, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

#The values are very low
#There is a very closse relation between Attack and Defense

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [41]:
# Your code here:

print(pokemon['Sp. Def'].mean())
print(pokemon['Sp. Atk'].mean())

#ttest_rel(pokemon['Sp. Def'].mean(),pokemon['Sp. Atk'].mean())

71.9025
72.82

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:
 ttest_1samp

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: