# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np
import scipy
import statsmodels
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

display(pokemon['Legendary'].value_counts())
c=pokemon['Legendary'].value_counts().tolist()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
legendary = pokemon[pokemon['Legendary'] == True]['Total']
non = pokemon[pokemon['Legendary'] == False]['Total']

mean_legendary=np.mean(legendary)
std_legendary=np.std(legendary)
mean_non=np.mean(non)
std_non=np.std(non)

print(f'The mean of total points in legendaries is {mean_legendary} and the std. deviation {std_legendary}')
print(f'The mean of total points in non legendaries is {mean_non} and the std. deviation {std_non}')

The mean of total points in legendaries is 637.3846153846154 and the std. deviation 60.46682302213779
The mean of total points in non legendaries is 417.21360544217686 and the std. deviation 106.68776660321979

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

test = ttest_ind(legendary, non, equal_var=False).pvalue

test

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

Your conclusions here:

The null hypothesis is rejected

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:

type1_count=pd.DataFrame(pokemon['Type 1'].value_counts().reset_index())
type1_count.columns = ['type 1', 'count']

type1_count

      type 1  count
0      Water    112
1     Normal     98
2      Grass     70
3        Bug     69
4    Psychic     57
5       Fire     52
6       Rock     44
7   Electric     44
8     Dragon     32
9      Ghost     32
10    Ground     32
11      Dark     31
12    Poison     28
13     Steel     27
14  Fighting     27
15       Ice     24
16     Fairy     17
17    Flying      4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:

water = pokemon[pokemon['Type 1'] == 'Water']['Total']
non_w = pokemon[pokemon['Type 1'] != 'Water']['Total']

mean_water=np.mean(water)
std_water=np.std(water)
mean_non_w=np.mean(non_w)
std_non_w=np.std(non_w)

print(f'The mean of water is {mean_water} and the std is {std_water}')
print(f'The mean of others is {mean_non_w} and the std is {std_non_w}')

test_w = ttest_ind(water, non_w, equal_var=False).pvalue

The mean of water is 430.45535714285717 and the std is 112.681828329091
The mean of others is 435.85901162790697 and the std is 121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:

test_w = ttest_ind(water, non_w, equal_var=True).pvalue

display(test_w)

print('The null hypothesis is not rejected, there is no significant difference between water and non-water')

0.6587140317488793

The null hypothesis is not rejected, there is no significant difference between water and non-water

Write your conclusion below.

In [12]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:

attack = pokemon['Attack']
defense= pokemon['Defense']

attack_defense = ttest_rel(attack, defense)

attack_defense

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

Your conclusions here:

The null hypothesis is rejected, there is a significantly difference between attack and defense

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:

sp_attack = pokemon['Sp. Atk']
sp_defense= pokemon['Sp. Def']

sp_attack_defense = ttest_rel(sp_attack, sp_defense)

display(sp_attack_defense)

if sp_attack_defense.pvalue < 0.05:
    print('True')
else:
    print('False')

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

False

Describe the results of the test in the cell below.

Your conclusions here:

The null hypothesis is not rejected, there is no significant difference between special attack and special defense

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [15]:
# Your code here:
    
diff_atk_def = pokemon['Sp. Atk']-pokemon['Sp. Def']

ttest_1samp(diff_atk_def, 0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [16]:
# Your code here:

le=pokemon['Legendary']
no_wa=pokemon['Type 1']!='Water'

contingency_table = pd.crosstab(no_wa,le)

contingency_table

Legendary  False  True
Type 1
False        108      4
True         627     61

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [17]:
# Your code here:

chi2, p, dof, ex = chi2_contingency(contingency_table, correction=False)

chi2

3.617455159932616

Based on a 95% confidence, should we reject the null hypothesis?

In [18]:
# Your answer here:

if p < 0.05:
    print('True')
else:
    print('False')

False