# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [109]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [86]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [69]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [70]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [71]:
# Your code here:

# Your code here:

legendary_filter = pokemon['Legendary']  == True

lgnd_mean = pokemon[pokemon['Legendary']==True]['Total'].mean()
lgnd_std = pokemon[pokemon['Legendary']==True]['Total'].std()

normal_mean = pokemon[pokemon['Legendary']==False]['Total'].mean()
normal_std = pokemon[pokemon['Legendary']==False]['Total'].std()

print(f'Total point MEAN legendary pokemons: {lgnd_mean}\n\
Total point STD legendary pokemons: {lgnd_std}\n \n\
Total point STD normal pokemons: {normal_mean}\n\
Total point STD normal pokemons: {normal_std}')

Total point MEAN legendary pokemons: 637.3846153846154
Total point STD legendary pokemons: 60.93738905315344

Total point STD normal pokemons: 417.21360544217686
Total point STD normal pokemons: 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [72]:
# Your code here:

ttest_ind(pokemon[pokemon['Legendary']==True]['Total'], pokemon[pokemon['Legendary']==False]['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

Since p value is much lower than a significance value of 0.05, we can conclude that the total points mean is statistically significant between legendary and no legendary pokemons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [73]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [74]:
# Your code here:

water_mean = pokemon[pokemon['Type 1']=='Water']['Total'].mean()
water_std = pokemon[pokemon['Type 1']=='Water']['Total'].std()

normal_mean = pokemon[pokemon['Type 1']!='Water']['Total'].mean()
normal_std = pokemon[pokemon['Type 1']!='Water']['Total'].std()

print(f'Total point MEAN water pokemons: {lgnd_mean}\n\
Total point STD water pokemons: {lgnd_std}\n \n\
Total point STD non-water pokemons: {normal_mean}\n\
Total point STD non-water pokemons: {normal_std}')

Total point MEAN water pokemons: 637.3846153846154
Total point STD water pokemons: 60.93738905315344

Total point STD non-water pokemons: 435.85901162790697
Total point STD non-water pokemons: 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [75]:
# Your code here:

ttest_ind(pokemon[pokemon['Type 1']=='Water']['Total'], pokemon[pokemon['Type 1']!='Water']['Total'], equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

# Your conclusions here:

Since p value is much larger than 0.05, the mean total points between water and non-water pohemons aren't statistically significant

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [76]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [77]:
# Your code here:

attck = pokemon['Attack']
dfns = pokemon['Defense']

ttest_rel(attck, dfns)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:

P value is very low, so there is a statistically difference between them.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [78]:
# Your code here:

s_attck = pokemon['Sp. Atk']
s_dfns = pokemon['Sp. Def']
ttest_rel(s_attck, s_dfns)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:

p value is much higher than 0.05 so the mean of both attacks is not significant.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [79]:
# Your code here:
    
pokemon['diff'] = pokemon['Attack'] -pokemon['Defense']
ttest_1samp(pokemon['diff'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

It's the same result

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [104]:
pokemon['Water_type'] = pokemon['Type 1']

pokemon['Water_type'] = np.where(pokemon['Water_type'] != 'Water', 'Other', pokemon['Water_type'])

In [107]:
# Your code here:

contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Water_type'])

In [108]:
contingency_table

Water_type  Other  Water
Legendary
False         627    108
True           61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [113]:
# Your code here:

test = chi2_contingency(contingency_table, correction=False)
test

(3.617455159932616,
 0.0571762700873503,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

# Your answer here:

Since p value equals to 0.5717 we have to accept the null hypothesis.