# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

from scipy.stats import ttest_rel, ttest_1samp, ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
legendary = pokemon['Legendary'] == True
NoLegendary = pokemon['Legendary'] == False

print(f'Legendary values:{legendary.count()}')
print(f'Non legendary values:{NoLegendary.count()}')

Legendary values:800
Non legendary values:800

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
print(np.mean(legendary))
print(np.std(legendary))
print('*********')
print(np.std(NoLegendary))
print(np.mean(NoLegendary))

0.08125
0.2732186624299299
*********
0.2732186624299299
0.91875

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

ttest_ind(legendary, NoLegendary, equal_var=False)

Ttest_indResult(statistic=-61.267879095786114, pvalue=0.0)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
"""We got a p value o 0.0 so we could reject the null hypothesis
, there are diferences between the groups based on if they are
legendary or not."""

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [7]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [8]:
# Your code here:

water = pokemon['Type 1'] ==  'Water'
pokemon1 = pokemon['Type 1'] != 'Water'
print(np.mean(water))
print(np.std(water))
print(np.mean(pokemon1))
print(np.std(pokemon1))

0.14
0.34698703145794946
0.86
0.34698703145794946

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [9]:
# Your code here:

ttest_ind(water, pokemon1, equal_var = True )

Ttest_indResult(statistic=-41.47416439534808, pvalue=8.109527568920695e-256)

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [11]:
# Your code here:

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [13]:
pokemon['Skills_diff'] = pokemon['Attack'] - pokemon['Defense']

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Skills_diff
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

#Theres actual diference between attack and defense
#and to me is gretaer enough to reject the hypothesis
#that they are equal.

pokemon

"""I have a question here, because I dont kno wwhy are
we using the related test here, attack and defense
are not really related one to another, right?
I think of this test whenwe are doing a before
and after(training for example)."""

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Skills_diff
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,-50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,50
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,100
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,-10

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [16]:
# Your code here:

ttest_ind(pokemon['Sp. Def'], pokemon['Sp. Atk'])

Ttest_indResult(statistic=-0.6041290031014401, pvalue=0.5458436328840358)

Describe the results of the test in the cell below.

In [17]:
# Your conclusions here:

"""
Looking at the p value we would have to reject the null value
so there are sigificant differences between Sp atk-def. """

'looking at the p value we would have to reject the null value\nso there are sigificant differences between Sp atk.-def'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [19]:
# Your code here:

    
ttest_1samp(pokemon['Skills_diff'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: