# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [52]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [53]:
# Your code here:
df=pd.read_csv('./../../../../../Downloads/hypothesis-testing.csv')

Examine the `salaries` dataset using the `head` function below.

In [54]:
# Your code here:

df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [55]:
# Your code here:
df.isnull().sum()
#df.shape

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [56]:
# Your code here:
df['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [57]:
# Your code here:
df['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [70]:
# Your code here:
from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp
import scipy.stats as stats

In [59]:
# So our null hypothesis is mean=30$ and out alternative hypothesis is mean different to 30$. Two tail test.

df1=df[df['Annual Salary'].isnull()]
display(df1['Hourly Rate'])

conf_level=0.95
alpha=1-conf_level

hourly_price = df1['Hourly Rate']
test_results = ttest_1samp(hourly_price, 30)
display(test_results.statistic)
display(test_results.pvalue, test_results.pvalue < alpha)

# pvalue is less than alpha (significance level) so we reject the null hypothesys and accept altenative hypothesis

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

20.6198057854942

4.3230240486229894e-92

True

In [60]:
# Handmade with formula

mu = 30
mu_hat = np.mean(hourly_price)
std_hat = np.std(hourly_price)
n = len(hourly_price)
t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
rv = t(df=n-1)
p_value = rv.cdf(t_test)

print(mu_hat, std_hat, n, t_test, p_value, 1 - p_value<0.05)

32.78855771628024 12.111817701093825 8022 20.621091109215907 1.0 True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [61]:
# Your code here:

# So our null hypothesis is mean less or equal than 86000$ and our alternative hypothesis is mean greater than 86000$ 

df1=df[df['Annual Salary']>0]
display(df1['Annual Salary'])

conf_level=0.95
alpha=1-conf_level

annual_salary = df1['Annual Salary']
test_results = ttest_1samp(annual_salary, 86000)
display(test_results.statistic)
display(test_results.pvalue, test_results.pvalue/2 < alpha)

# pvalue is less than alpha (significance level) and statistics>0 
# so we reject the null hypothesys and accept altenative hypothesis

0        101442.0
1         94122.0
2        101592.0
3        110064.0
5         50436.0
           ...
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
33182    115932.0
Name: Annual Salary, Length: 25161, dtype: float64

5.932870515690814

3.015758519916386e-09

True

In [62]:
# Handmade with formula

mu = 86000
mu_hat = np.mean(annual_salary)
std_hat = np.std(annual_salary)
n = len(annual_salary)
t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
rv = t(df=n-1)
p_value = rv.cdf(t_test)

print(mu_hat, std_hat, n, t_test, p_value, 1 - p_value<0.05)

86786.99979015143 21040.936463166625 25161 5.932988417351495 0.9999999984932021 True

Using the `crosstab` function, find the department that has the most hourly workers.

In [63]:
# Your code here:
df.columns

#pd.crosstab(df['Department'], [df['Salary or Hourly']], rownames=['Department'], colnames=['Salary or Hourly'])
pd.crosstab(df['Department'], [df['Salary or Hourly']], 
            rownames=['Department'], 
            colnames=['Salary or Hourly'],
            margins=True).sort_values('Hourly', ascending=False)  # STREETS & SAN is the department with more 'hourly'

Salary or Hourly       Hourly  Salary    All
Department
All                      8022   25161  33183
STREETS & SAN            1862     336   2198
WATER MGMNT              1513     366   1879
OEMC                     1273     829   2102
AVIATION                 1082     547   1629
GENERAL SERVICES          765     215    980
TRANSPORTN                725     415   1140
PUBLIC LIBRARY            299     716   1015
FAMILY & SUPPORT          287     328    615
CITY COUNCIL               64     347    411
FINANCE                    44     516    560
LAW                        40     367    407
ANIMAL CONTRL              19      62     81
POLICE                     10   13404  13414
MAYOR'S OFFICE              8      77     85
BUSINESS AFFAIRS            7     164    171
CULTURAL AFFAIRS            7      58     65
HUMAN RESOURCES             4      75     79
COMMUNITY DEVELOPMENT       4     203    207
HEALTH                      3     485    488
FIRE                        2    4639   4641
PROCUREMENT                 2      90     92
BUDGET & MGMT               2      44     46
BOARD OF ETHICS             0       8      8
TREASURER                   0      22     22
POLICE BOARD                0       2      2
BOARD OF ELECTION           0     107    107
BUILDINGS                   0     269    269
LICENSE APPL COMM           0       1      1
INSPECTOR GEN               0      87     87
HUMAN RELATIONS             0      16     16
DoIT                        0      99     99
DISABILITIES                0      28     28
COPA                        0     116    116
CITY CLERK                  0      84     84
ADMIN HEARNG                0      39     39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [64]:
# Your code here:
# Now the null hypothesys is hourly wage greater or equal to 35$. Alternative hypothesis is hourly wage less than 35$

df2=df[(df['Department']=='STREETS & SAN') & (df['Salary or Hourly']=='Hourly')]
display(df2['Hourly Rate'])

conf_level=0.95
alpha=1-conf_level

hourly_wage = df2['Hourly Rate']
test_results = ttest_1samp(hourly_wage, 35)
display(test_results.statistic)
display(test_results.pvalue, test_results.pvalue < alpha)

# pvalue is less than alpha (significance level) and statistics<0
# so we reject the null hypothesys and accept altenative hypothesis
# hourly wage is less than 35$

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

-9.567447887848152

3.3378530564707717e-21

True

In [65]:
# Handmade with formula

mu = 35
mu_hat = np.mean(hourly_wage)
std_hat = np.std(hourly_wage)
n = len(hourly_wage)
t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
rv = t(df=n-1)
p_value = rv.cdf(t_test)

print(mu_hat, std_hat, n, t_test, p_value, p_value/2<0.05)

33.72837808807734 5.733701558944158 1862 -9.570018055225033 1.6298535724816205e-21 True

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [66]:
# Your code here:

df3=df[(df['Salary or Hourly']=='Hourly')]
display(df3['Hourly Rate'])

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [87]:
tot_hourly_wage=df3['Hourly Rate']
conf_level=0.95
alpha=1-conf_level
n=len(tot_hourly_wage)
d_f=n-1
se=stats.sem(tot_hourly_wage)
t.interval(conf_level, df=d_f, loc=np.mean(tot_hourly_wage), scale=se)

(32.52345834488425, 33.05365708767623)

\begin{equation*}
\left [  (\bar{x}   \pm T_{\frac{\alpha }{2}}\cdot \sqrt{\frac{s ^{2}}{n}})\right ]
\end{equation*}

In [89]:
# handmade with formula

mean_x=np.mean(tot_hourly_wage)
std_x=np.std(tot_hourly_wage)
alpha_half=alpha/2

rv = t(df=n-1)
T_value = rv.ppf(alpha_half)

a=mean_x+T_value*std_x/(n**0.5)
b=mean_x-T_value*std_x/(n**0.5)

a , b

(32.52347486867093, 33.053640563889545)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [76]:
# Your code here:

df4=df[(df['Salary or Hourly']=='Salary')]
display(df4['Annual Salary'])

tot_annual_salary=df4['Annual Salary']
conf_level=0.95
alpha=1-conf_level
n=len(tot_annual_salary)
d_f=n-1
se=stats.sem(tot_annual_salary)
t.interval(conf_level, df=d_f, loc=np.mean(tot_annual_salary), scale=se)

0        101442.0
1         94122.0
2        101592.0
3        110064.0
5         50436.0
           ...
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
33182    115932.0
Name: Annual Salary, Length: 25161, dtype: float64

(86526.99656774187, 87047.00301256099)

\begin{equation*}
\left [  (\bar{x}   \pm T_{\frac{\alpha }{2}}\cdot \sqrt{\frac{s ^{2}}{n}})\right ]
\end{equation*}

In [49]:
# handmade with formula

mean_x=np.mean(tot_annual_salary)
std_x=np.std(tot_annual_salary)
alpha_half=alpha/2

rv = t(df=n-1)
T_value = rv.ppf(alpha_half)
print(T_value)
a=mean_x+T_value*std_x/(n**0.5)
b=mean_x-T_value*std_x/(n**0.5)

a , b

-1.9600582764087469

(86527.00173458354, 87046.99784571932)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [40]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

my_nobs=len(df['Salary or Hourly'])                                        # the number of total trials     
my_count=df[df['Salary or Hourly']=='Hourly']['Salary or Hourly'].count()  # the number of successes in nobs trials.

value_null_hyp = 0.25                                                     # the null hypothesis for proportion

p_x=my_count/my_nobs
display(p_x)

my_alternative='two-sided'                                                # two-side means bilateral in the graph 

conf_level=0.95
alpha=1-conf_level

stat, pval = proportions_ztest(count=my_count, nobs=my_nobs, value=value_null_hyp, alternative=my_alternative)

stat, pval

print(f'statistic value is = {stat}')
print(f'pvalue is less than 0.05(5%)= {pval}')

# We reject null hypothesis because the pvalue is less than significance level (alpha)
# So the proportion of hourly workers in Chicago is significantly different from 25%

0.24175029382515142

statistic value is = -3.5099964213703005
pvalue is less than 0.05(5%)= 0.0004481127249057967