# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
from numpy import sqrt, arange

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
employees_db = pd.read_csv('../data/hypothesis-testing.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
employees_db.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [4]:
employees_db.isnull()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,False,False,False,False,False,True,False,True
1,False,False,False,False,False,True,False,True
2,False,False,False,False,False,True,False,True
3,False,False,False,False,False,True,False,True
4,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...
33178,False,False,False,False,False,True,False,True
33179,False,False,False,False,False,True,False,True
33180,False,False,False,False,False,True,False,True
33181,False,False,False,False,False,True,False,True
33182,False,False,False,False,False,True,False,True

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
employees_db.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

In [6]:
null_cols = employees_db.isnull().sum()

null_cols[null_cols > 0]

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

In [7]:
null_cols[null_cols > 0] / len(employees_db) * 100

Typical Hours    75.824971
Annual Salary    24.175029
Hourly Rate      75.824971
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
employees_db['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
departament = employees_db['Department'].unique()
departament

array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
       'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
       'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
       "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
       'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
       'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
       'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
       'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
       'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
       'LICENSE APPL COMM'], dtype=object)

In [10]:
departament_counts = employees_db['Department'].value_counts()
departament_counts

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [11]:
from scipy import stats
from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp

In [12]:
data = employees_db[employees_db['Salary or Hourly'] == 'Hourly'] ['Hourly Rate']

In [13]:
mu = 30
mu_hat = data.mean()
std_hat = data.std()
n = len(data)

In [14]:
t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
t_test

20.6198057854942

In [15]:
rv = t(df=n-1)
p_value = rv.cdf(t_test) * 2
p_value

2.0

In [16]:
mean = np.mean(data)
std = np.std(data)
sample_size = len(data)
print(mean)

32.78855771628024

In [17]:
t_test = (mean - 30) / (std / np.sqrt(sample_size))
test_result = ttest_1samp(data, 30)
p_value = test_result.pvalue

In [18]:
print(test_result)
print(p_value)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)
4.3230240486229894e-92

However, we can reject the null hypothesis since the price per hour is above 30

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [19]:
data_salary_police = employees_db[(employees_db['Salary or Hourly']=='Salary')&(employees_db['Department']=='POLICE')] ['Annual Salary']

In [20]:
means = np.mean(data_salary_police)
stds = np.std(data_salary_police)
sample_size = len(data_salary_police)
print(mean)

32.78855771628024

In [21]:
t_test = (mean - 86000) / (std / np.sqrt(sample_size))
test_results = ttest_1samp(data, 86000)
p_value=(test_results.pvalue /2)
print(test_results)

Ttest_1sampResult(statistic=-635678.8649241154, pvalue=0.0)

We reject the null hypothesis, as the police salary is higher this year

Using the `crosstab` function, find the department that has the most hourly workers.

In [22]:
hourly_workers=pd.crosstab(employees_db['Department'],employees_db['Salary or Hourly']).sort_values(by= 'Hourly',ascending=False)
hourly_workers

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [23]:
salary=employees_db.loc[(employees_db['Salary or Hourly']=='Hourly') & (employees_db['Department']== hourly_workers.index[0]),'Hourly Rate']

In [24]:
test_results = ttest_1samp(salary, 35)
print(test_results.statistic)
print(test_results.pvalue / 2)

-9.567447887848152
1.6689265282353859e-21

We reject the null hypothesis, as the police salary is higher this year their hourly wage is less than $35.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [25]:
hourly_rate = employees_db[employees_db['Salary or Hourly']=='Hourly']['Hourly Rate']
means = np.mean(hourly_rate)
SE=stats.sem(hourly_rate) 
conf_int = stats.norm.interval(0.95, loc=means, 
    scale=SE)
conf_int

(32.52349834813791, 33.05361708442256)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [26]:
data_salary_police

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [27]:
# Your code here:
means = np.mean(data_salary_police)
SE=stats.sem(data_salary_police) 
conf_int = stats.norm.interval(0.95, loc=means, 
    scale=SE)
conf_int

(86177.08425202276, 86795.74475424402)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [31]:
from statsmodels.stats.proportion import proportions_ztest


data_2 = employees_db[employees_db['Salary or Hourly'] == 'Hourly'] ['Hourly Rate']
count = employees_db[employees_db['Salary or Hourly'] == 'Hourly'].shape[0]
nobs = employees_db['Salary or Hourly'].shape
value=0.25
stat, pval = proportions_ztest(count, nobs, value=value)

In [32]:
stat, pval

(array([-3.50999642]), array([0.00044811]))