# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:

data = pd.read_csv('/home/jc/Escritorio/Github_labs/dataptmad0420/module-2/hypothesis-testing/data/hypothesis-testing.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

print(f'Missing data:',data.isnull().sum())
percent_missing = data.isnull().sum() * 100 / len(data)
percent_missing

Missing data: Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Name                  0.000000
Job Titles            0.000000
Department            0.000000
Full or Part-Time     0.000000
Salary or Hourly      0.000000
Typical Hours        75.824971
Annual Salary        24.175029
Hourly Rate          75.824971
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

data.describe()

       Typical Hours  Annual Salary  Hourly Rate
count    8022.000000   25161.000000  8022.000000
mean       34.507604   86786.999790    32.788558
std         9.252077   21041.354602    12.112573
min        10.000000    7200.000000     2.650000
25%        20.000000   76266.000000    21.200000
50%        40.000000   90024.000000    35.600000
75%        40.000000   96060.000000    40.200000
max        40.000000  300000.000000   109.000000

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

data.head(20)

gropuby_depart = data.groupby(['Department'])['Name'].count()
gropuby_depart

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp
import matplotlib.pyplot as plt
%matplotlib inline

#hypothesis = they are not equal
#data
mu = 30
print(mu)
mu_hat = data['Hourly Rate'].mean()
print(mu_hat)
std_hat = data['Hourly Rate'].std()
n = len(data['Hourly Rate'])

#calculations

t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
print(f't_test:',t_test)

rv = t(df=n-1) # rv = random variable ; df = degrees of freedom
#display(rv)

p_value = rv.cdf(t_test) # la pdf solo se utiliza para pintar. Las demás utilizar cdf que nos da la probabilidad

print('P_value:',p_value)

print('P value is ',{(1- p_value)/2 },', much higher than 0.05 so our hypothesis is rejected')

30
32.78855771628023
t_test: 41.93735781905323
P_value: 1.0
P value is  {0.0} , much higher than 0.05 so our hypothesis is rejected

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

#hypothesis > 86k/year
#data
mu = 86000
print(mu)
mu_hat = data['Annual Salary'].mean()
print(mu_hat)
std_hat = data['Annual Salary'].std()
n = len(data['Annual Salary'])


#calculations

t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
print(f't_test:',t_test)

rv = t(df=n-1) # rv = random variable ; df = degrees of freedom
#display(rv)

p_value = rv.cdf(t_test) # la pdf solo se utiliza para pintar. Las demás utilizar cdf que nos da la probabilidad

print('P_value:',p_value) # si es mayor a 0.05 , no podemos asegurar que haya pasado por casualidad

print('P value is ',{(1-p_value)},' , much lower than 0.05 so our hypothesis is accepted')

86000
86786.99979015143
t_test: 6.81331933811792
P_value: 0.99999999999515
P value is  {4.850009283074996e-12}  , much lower than 0.05 so our hypothesis is accepted

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

data.head()

pd.crosstab(data['Department'], data['Hourly Rate'])

Hourly Rate,2.65,8.25,9.27,9.46,9.5,10.0,10.5,11.0,12.0,12.49,...,50.5,50.8,52.1,52.18,52.52,53.1,53.9,57.95,78.91,109.0
Department,,,,,,,,,,,,,,,,,,,,,
ANIMAL CONTRL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
AVIATION,0,0,0,0,0,0,0,0,0,0,...,2,0,0,8,0,0,0,0,0,0
BUDGET & MGMT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BUSINESS AFFAIRS,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
CITY COUNCIL,0,0,0,0,1,1,2,0,15,0,...,0,0,0,0,0,0,0,0,0,0
COMMUNITY DEVELOPMENT,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
CULTURAL AFFAIRS,0,0,0,0,0,0,0,1,6,0,...,0,0,0,0,0,0,0,0,0,0
FAMILY & SUPPORT,206,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FINANCE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FIRE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GENERAL SERVICES,0,0,0,0,0,0,0,0,0,0,...,1,0,26,9,0,3,0,0,0,0
HEALTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
HUMAN RESOURCES,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LAW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAYOR'S OFFICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OEMC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
POLICE,0,0,4,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PROCUREMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PUBLIC LIBRARY,0,0,0,0,0,0,0,0,0,96,...,0,0,0,0,0,0,0,0,0,0
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
TRANSPORTN,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,2,11,0,0,0
WATER MGMNT,0,0,0,0,0,0,0,0,0,0,...,3,2,0,45,0,4,0,0,0,0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

#hypothesis <35 dollars / hour
#data
mu = 35
print(mu)
mu_hat = data['Hourly Rate'].mean()
print(mu_hat)
std_hat = data['Hourly Rate'].std()
n = len(data['Hourly Rate'])


#calculations

t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
print(f't_test:',t_test)

rv = t(df=n-1) # rv = random variable ; df = degrees of freedom
#display(rv)

p_value = rv.cdf(t_test) # la pdf solo se utiliza para pintar. Las demás utilizar cdf que nos da la probabilidad

print('P_value:',p_value) # si es mayor a 0.05 , no podemos asegurar que haya pasado por casualidad

print('P value is ',{(p_value)},' , much lower than 0.05 so our hypothesis is accepted')

35
32.78855771628023
t_test: -33.258069505641274
P_value: 6.543033615885143e-239
P value is  {6.543033615885143e-239}  , much lower than 0.05 so our hypothesis is accepted

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:

#stats.norm.interval(0.95, loc=mu, scale=sigma/sqrt(N))

#sigma = stats.sem(a, axis=None, ddof=0)



data['Hourly Rate'] =  data['Hourly Rate'].fillna(0)

mu = 35
print(mu)
mu_hat = data['Hourly Rate'].mean()
print(mu_hat)
std_hat = data['Hourly Rate'].std()
n = len(data['Hourly Rate'])



data['Hourly Rate'] =  data['Hourly Rate'].fillna(0)

sigma = stats.sem(data['Hourly Rate'], axis=None, ddof=0)
print(f'Confidence interval:',stats.norm.interval(0.95, loc=mu, scale=sigma/ np.sqrt(n)))

35
7.926643462013682
Confidence interval: (34.99909930666897, 35.00090069333103)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

data = pd.read_csv('/home/jc/Escritorio/Github_labs/dataptmad0420/module-2/hypothesis-testing/data/hypothesis-testing.csv')


data = data[data['Salary or Hourly']=='Salary']

data['Hourly Rate'] =  data['Hourly Rate'].fillna(0)

display(data.head())
mu = 35
print(mu)
mu_hat = data['Hourly Rate'].mean()
print(mu_hat)
std_hat = data['Hourly Rate'].std()
n = len(data['Hourly Rate'])



data['Hourly Rate'] =  data['Hourly Rate'].fillna(0)

#print(f'Sum:',data['Hourly Rate'].sum())

sigma = stats.sem(data['Hourly Rate'], axis=None, ddof=0)
print(f'Confidence interval:',stats.norm.interval(0.95, loc=mu, scale=sigma/ np.sqrt(n)))

print(f'As we have seen in the dataset, all the employees that are paid on a salary basis do not have Hourly payemnt. As a result, we cannot calculate the Confidence inteval')

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,0.0
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,0.0
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,0.0
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,0.0
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,0.0

35
0.0
Confidence interval: (nan, nan)
As we have seen in the dataset, all the employees that are paid on a salary basis do not have Hourly payemnt. As a result, we cannot calculate the Confidence inteval

/home/jc/miniconda3/envs/jupyter_env/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:2023: RuntimeWarning: invalid value encountered in multiply
  lower_bound = _a * scale + loc
/home/jc/miniconda3/envs/jupyter_env/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:2024: RuntimeWarning: invalid value encountered in multiply
  upper_bound = _b * scale + loc

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: