# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
!pwd

/home/david/Documents/learning_repositories/dataptmad0420/module-2/hypothesis-testing/your-code

In [3]:
# Your code here:
employees = pd.read_csv('../data/hypothesis-testing.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
employees.head(4)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN

In [5]:
employees.shape

(33183, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here
employees.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
employees.groupby('Salary or Hourly').agg(employee_count=('Salary or Hourly', 'count'))

                  employee_count
Salary or Hourly
Hourly                      8022
Salary                     25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:
count_employees = employees.groupby('Department').agg(employee_count=('Department', 'count'))
count_employees

                       employee_count
Department
ADMIN HEARNG                       39
ANIMAL CONTRL                      81
AVIATION                         1629
BOARD OF ELECTION                 107
BOARD OF ETHICS                     8
BUDGET & MGMT                      46
BUILDINGS                         269
BUSINESS AFFAIRS                  171
CITY CLERK                         84
CITY COUNCIL                      411
COMMUNITY DEVELOPMENT             207
COPA                              116
CULTURAL AFFAIRS                   65
DISABILITIES                       28
DoIT                               99
FAMILY & SUPPORT                  615
FINANCE                           560
FIRE                             4641
GENERAL SERVICES                  980
HEALTH                            488
HUMAN RELATIONS                    16
HUMAN RESOURCES                    79
INSPECTOR GEN                      87
LAW                               407
LICENSE APPL COMM                   1
MAYOR'S OFFICE                     85
OEMC                             2102
POLICE                          13414
POLICE BOARD                        2
PROCUREMENT                        92
PUBLIC LIBRARY                   1015
STREETS & SAN                    2198
TRANSPORTN                       1140
TREASURER                          22
WATER MGMNT                      1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
# Your code here:
from random import sample
hourly_employees = employees[employees['Salary or Hourly'] == 'Hourly']['Hourly Rate']

'''Manually'''
H0 = 'u = u0 ---- u = 30'
H1 = 'u != u0 --- u != 30'
n = len(hourly_employees)
sample_mu = np.mean(hourly_employees)
sample_sigma = np.std(hourly_employees)
t_test = (sample_mu - 30) / (sample_sigma/np.sqrt(n))

display(t_test)
rv = t(df=n-1)

20.621091109215907

In [10]:
'''Using Scypy'''

test_result_1 = ttest_1samp(hourly_employees, 30)
t_statistic_1 = test_result_1.statistic
p_value_1 = test_result_1.pvalue

display(t_statistic_1)
display(p_value_1)
print(f'''P_value {p_value_1} < 0,05 is {p_value_1 < 0.05} 
so H0 may be rejected and we can assert with a 95% confidence level that
hourly employees have an Hourly rate different from 30''')

20.6198057854942

4.3230240486229894e-92

P_value 4.3230240486229894e-92 < 0,05 is True
so H0 may be rejected and we can assert with a 95% confidence level that
hourly employees have an Hourly rate different from 30

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [11]:
# Your code here:
H0 = 'u ≤ u0 ---- u ≤ 30'
H1 = 'u > u0 --- u > 30'
police = employees[(employees['Department'] == 'POLICE') & (employees['Salary or Hourly'] == 'Salary')]['Annual Salary']
test_result_2 = ttest_1samp(police, 86000)
t_statistic_2 = test_result_2.statistic
p_value_2 = test_result_2.pvalue / 2

display(t_statistic_2)
display(p_value_2)
print()
print(f'''P_value {p_value_2} < 0,05 is {p_value_2 < 0.05} 
so H0 may be rejected and we can assert with a 95% confidence level that
Chicago Police officers current salaries are higher than the previous year 86k''')

3.081997005712994

0.0010301701775482569

P_value 0.0010301701775482569 < 0,05 is True
so H0 may be rejected and we can assert with a 95% confidence level that
Chicago Police officers current salaries are higher than the previous year 86k

'''

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
# Your code here:
colnames = [value.replace(' ', '_')for value in employees.columns.to_list()]
employees.columns = colnames

ctab = pd.crosstab(employees.Department, employees.Salary_or_Hourly).sort_values(by='Hourly', ascending=False)
ctab[['Hourly']].head()

Salary_or_Hourly  Hourly
Department
STREETS & SAN       1862
WATER MGMNT         1513
OEMC                1273
AVIATION            1082
GENERAL SERVICES     765

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [13]:
# Your code here:
H0 = 'u ≥ u0 ---- u ≥ 35'
H1 = 'u < u0 --- u < 35'
streets = employees[(employees['Department'] == 'STREETS & SAN') & (employees['Salary_or_Hourly'] == 'Hourly')]['Hourly_Rate']
test_result_3 = ttest_1samp(streets, 35)
t_statistic_3 = test_result_3.statistic
p_value_3 = 1 - (test_result_3.pvalue / 2)

display(t_statistic_3)
display(p_value_3)
print()
print(f'''P_value {p_value_3} < 0,05 is {p_value_3 < 0.05} 
so H0 cannot be rejected and we can assert with a 95% confidence level that
workers from STREETS & SAN department do not earn less than''')

-9.567447887848152

1.0

P_value 1.0 < 0,05 is False
so H0 cannot be rejected and we can assert with a 95% confidence level that
workers from STREETS & SAN department do not earn less than

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [14]:
# Your code here:
hourly_workers = employees[employees['Salary_or_Hourly'] == 'Hourly']

mean = hourly_workers['Hourly_Rate'].mean()
std_error = stats.sem(hourly_workers['Hourly_Rate'])
alpha = 0.95
df = hourly_workers.shape[0] - 1

t.interval(alpha, df, loc=mean, scale = std_error)

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [15]:
# Your code here:
police_salaried = employees[(employees['Department'] == 'POLICE') & (employees['Salary_or_Hourly'] == 'Salary')]

mean = police_salaried['Annual_Salary'].mean()
std_error = stats.sem(police_salaried['Annual_Salary'])
alpha = 0.95
df = police_salaried.shape[0] - 1

t.interval(alpha, df, loc=mean, scale = std_error)

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [30]:
# Your code here:
def ztest(series, percent: int):
    n = len(series)
    p = percent

    lb = p-(1.96*(np.sqrt(p*(1-p)/n)))
    ub = p+(1.96*(np.sqrt(p*(1-p)/n)))
    
    interval = (lb, ub)
    
    return interval

In [31]:
hourly_workers = employees[employees['Salary_or_Hourly'] == 'Hourly']

H0 = 'u = u0 ---- u = 25%'
H1 = 'u != u0 --- u != 25%'
ztest(hourly_workers['Hourly_Rate'], 0.25)

(0.2405242110662895, 0.2594757889337105)