# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
admissions = pd.read_csv("../data/Admission_Predict.csv")

Remove trailing spaces at the end of the column names if there are any.

In [3]:
#admissions.columns
admissions.rename(columns={'LOR ': 'LOR', 'Chance of Admit ': 'Chance of Admit'}, inplace=True)

Let's evaluate the dataset by looking at the `head` function.

In [4]:
admissions.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
admissions.info()
'''No nulls finded in the dataset'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
Serial No.           385 non-null int64
GRE Score            385 non-null int64
TOEFL Score          385 non-null int64
University Rating    385 non-null int64
SOP                  385 non-null float64
LOR                  385 non-null float64
CGPA                 385 non-null float64
Research             385 non-null int64
Chance of Admit      385 non-null float64
dtypes: float64(4), int64(5)
memory usage: 27.1 KB

'No nulls finded in the dataset'

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
admissions.set_index(['Serial No.'], drop=False, inplace=True)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
6,6,321,109,3,3.0,4.0,8.20,1,0.75
7,7,308,101,2,3.0,4.0,7.90,0,0.68
8,8,302,102,1,2.0,1.5,8.00,0,0.50
9,9,323,108,3,3.5,3.0,8.60,0,0.45
10,10,327,111,4,4.0,4.5,9.00,1,0.84
11,11,328,112,4,4.0,4.5,9.10,1,0.78
12,12,307,109,3,4.0,3.0,8.00,1,0.62
13,13,311,104,3,3.5,2.0,8.20,1,0.61
14,14,314,105,3,3.5,2.5,8.30,0,0.54
15,15,317,107,3,4.0,3.0,8.70,0,0.66
16,16,319,106,3,4.0,3.0,8.00,1,0.65
17,17,318,110,3,4.0,3.0,8.80,0,0.63
18,18,303,102,3,3.5,3.0,8.50,0,0.62
19,19,325,114,4,3.0,2.0,8.40,0,0.70
20,20,328,116,5,5.0,5.0,9.50,1,0.94
21,21,334,119,5,5.0,4.5,9.70,1,0.95
22,22,336,119,5,4.0,3.5,9.80,1,0.97
23,23,322,109,5,4.5,3.5,8.80,0,0.76
24,24,298,98,2,1.5,2.5,7.50,1,0.44
25,25,295,93,1,2.0,2.0,7.20,0,0.46
26,26,310,99,2,1.5,2.0,7.30,0,0.54
27,27,300,97,2,3.0,3.0,8.10,1,0.65
28,28,327,103,3,4.0,4.0,8.30,1,0.74
29,29,338,118,4,3.0,4.5,9.40,1,0.91
30,30,340,114,5,4.0,4.0,9.60,1,0.90
...,...,...,...,...,...,...,...,...,...
356,356,310,103,2,2.5,2.5,8.24,0,0.72
357,357,324,110,3,3.5,3.0,9.22,1,0.89
358,358,336,119,4,4.5,4.0,9.62,1,0.95
359,359,321,109,3,3.0,3.0,8.54,1,0.79
360,360,315,105,2,2.0,2.5,7.65,0,0.39
361,361,304,101,2,2.0,2.5,7.66,0,0.38
362,362,297,96,2,2.5,2.0,7.43,0,0.34
363,363,290,100,1,1.5,2.0,7.56,0,0.47
364,364,303,98,1,2.0,2.5,7.65,0,0.56
365,365,311,99,1,2.5,3.0,8.43,1,0.71
366,366,322,104,3,3.5,4.0,8.84,1,0.78
367,367,319,105,3,3.0,3.5,8.67,1,0.73
368,368,324,110,4,4.5,4.0,9.15,1,0.82
369,369,300,100,3,3.0,3.5,8.26,0,0.62
370,370,340,113,4,5.0,5.0,9.74,1,0.96
371,371,335,117,5,5.0,5.0,9.82,1,0.96
372,372,302,101,2,2.5,3.5,7.96,0,0.46
373,373,307,105,2,2.0,3.5,8.10,0,0.53
374,374,296,97,2,1.5,2.0,7.80,0,0.49
375,375,320,108,3,3.5,4.0,8.44,1,0.76
376,376,314,102,2,2.0,2.5,8.24,0,0.64
377,377,318,106,3,2.0,3.0,8.65,0,0.71
378,378,326,112,4,4.0,3.5,9.12,1,0.84
379,379,317,104,2,3.0,3.0,8.76,0,0.77
380,380,329,111,4,4.5,4.0,9.23,1,0.89
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
#First, we set a new multiindex combining GRE Score and CPGA
admissions.set_index(['GRE Score', 'CGPA'])
#And now we check if the data is unique.
admissions.index.is_unique

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [8]:
admissions.set_index(['GRE Score', 'CGPA'], inplace=True)

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
admissions.reset_index(inplace=True)

In [10]:
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [11]:
#Creating filters separately for every condition. This way it would be possible combine these filters in many ways.

CGPA_filter = admissions['CGPA'] > 9
Research_filter = admissions['Research'] > 0
admissions_filter = CGPA_filter & Research_filter

admissions[admissions_filter].count()

GRE Score            101
CGPA                 101
Serial No.           101
TOEFL Score          101
University Rating    101
SOP                  101
LOR                  101
Research             101
Chance of Admit      101
dtype: int64

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [12]:
SOP_filter = admissions['SOP'] < 3.5
filtered_data = admissions[CGPA_filter & SOP_filter]
print(f"The mean chance of admit for applicants with CGPA greater than 9 and SOP lower that 3.5 is {filtered_data['Chance of Admit'].mean()}")

The mean chance of admit for applicants with CGPA greater than 9 and SOP lower that 3.5 is 0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [21]:
#(admissions['CGPA'] - admissions['CGPA'].mean()) / admissions['CGPA'].std()
#admissions.assign(CGPA_std=lambda x: (x.CGPA - np.mean(x.CGPA))/np.std(x.CGPA))
#return col.assign(col_std=lambda x: (x.col - np.mean(x.col))/np.std(x.col))

In [14]:
def standardize(df, col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    newcol = (col - np.mean(col))/np.std(col)
    return df.assign(col_std=newcol)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [15]:
admissions = standardize(admissions, admissions['CGPA'])
admissions.rename(columns={'col_std': 'CGPA_std'}, inplace=True)

In [16]:
admissions = standardize(admissions, admissions['GRE Score'])
admissions.rename(columns={'col_std': 'GRE_std'}, inplace=True)

In [17]:
admissions = standardize(admissions, admissions['LOR'])
admissions.rename(columns={'col_std': 'LOR_std'}, inplace=True)

In [18]:
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [19]:
# Libraries
from random import choices

In [20]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [51]:
admissions['decision_choice'] = decision_choice
admissions['deciding column'] = admissions.lookup(admissions.index, admissions['decision_choice'])
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding column,decision_choice
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,CGPA_std
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,LOR_std
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,CGPA_std
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,GRE_std
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,LOR_std

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [54]:
admissions['decision'] = admissions['deciding column'].apply(lambda x: 1 if x >= 0.8 else 0)
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding column,decision_choice,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,CGPA_std,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,LOR_std,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,CGPA_std,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,GRE_std,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,LOR_std,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [61]:
accepted = admissions['decision'] == 1
accepted.value_counts()
'''There will be 88 accepted applicants'''

'There will be 88 accepted applicants'

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [96]:
admissions.columns = map(str.replace('[^a-zA-Z]', ''))(str.lower, admissions.columns)(str.replace(' ', '_'))

TypeError: replace() takes at least 2 arguments (1 given)

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [97]:
admissions.head()

,gre score,cgpa,serial no.,toefl score,university rating,sop,lor,research,chance of admit,cgpa_std,gre_std,lor_std,deciding column,decision_choice,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,CGPA_std,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,LOR_std,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,CGPA_std,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,GRE_std,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,LOR_std,0

In [ ]:
admissions['university rating'] = admissions['university rating'].apply(lambda x: x + if x >= 4)