# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [162]:
# Libraries
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [163]:
# your code here
admissions = pd.read_csv('../data/Admission_Predict.csv')

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [164]:
# your code here
admissions.columns = [x.strip() for x in list(admissions.columns)]

Let's evaluate the dataset by looking at the `head` function.

In [165]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [166]:
# your code here
admissions.isnull().values.any()

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [167]:
# your code here
admissions.set_index('Serial No.', inplace=True, drop=False)

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [168]:
# your code here
admissions.set_index(['GRE Score','CGPA'])

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [169]:
# your code here
admissions.set_index(['GRE Score','CGPA'],inplace=True)

admissions

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [170]:
# your code here
admissions.reset_index(inplace=True)

admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [171]:
# your code here
admissions[(admissions['Research']==1) & (admissions['CGPA']>9)]['Serial No.'].count()

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [172]:
# your code here
second = admissions[(admissions['SOP']<3.5) & (admissions['CGPA']>9)]
second

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,29,118,4,3.0,4.5,1,0.91
62,327,9.02,63,114,3,3.0,3.0,0,0.61
140,326,9.11,141,114,3,3.0,3.0,1,0.83
217,324,9.01,218,111,4,3.0,3.0,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84

In [173]:
second['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [174]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    
    return (col-col.mean())/col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [175]:
# your code here
admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [176]:
# Libraries
from random import choices

In [177]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [178]:
# your code here
#we need to put in "lookup" first: rows; second: columns
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)
admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.747900
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.991211
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.121034
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.735259
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.851463
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.415886
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,0.303641
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,0.634193

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [179]:
# your code here
def decision(number):
    if number > 0.8:
        return 1
    else:
        return 0

admissions['decision'] = admissions['deciding_column'].apply(decision)

admissions

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.121034,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.735259,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.851463,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.415886,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,0.303641,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,0.634193,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [180]:
# your code here
filter_ad = admissions['decision']==1
admissions[filter_ad]['decision'].count()

89

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [181]:
# your code here
import re

list_col = list(admissions.columns)  #old list of column names
new_list_col=[]                      #new list of column names

for i in list_col:
    a = re.sub('\s','_',i)           #change the spaces for underscores
    b = re.sub('[\W]','',a)          #remove non character symbols
    c = b.lower()                    #change all upper case characters to lower case
    new_list_col.append(c)

admissions.columns = new_list_col

admissions

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.121034,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.735259,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.851463,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.415886,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,0.303641,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,0.634193,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [182]:
# your code here
def extra_points(gre,uni):
    if uni >=4:
        return gre+10
    else:
        return gre

admissions['gre_score'] = admissions.apply(lambda x: extra_points(x.gre_score, x.university_rating), axis=1)

admissions['adjusted_gre'] = pd.cut(admissions['gre_score'], bins=4)

admissions

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,347.0,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.747900,1,"(335.0, 350.0]"
1,316.0,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0,"(305.0, 320.0]"
2,322.0,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.121034,0,"(320.0, 335.0]"
3,314.0,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0,"(305.0, 320.0]"
4,340.0,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713,0,"(335.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324.0,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.735259,0,"(320.0, 335.0]"
381,325.0,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.851463,1,"(320.0, 335.0]"
382,340.0,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.415886,1,"(335.0, 350.0]"
383,312.0,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,0.303641,0,"(305.0, 320.0]"
384,343.0,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,0.634193,0,"(335.0, 350.0]"