# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [5]:
# your code here
df = pd.read_csv('../data/Admission_Predict.csv')

df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [6]:
# your code here

# No spaces

df.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

Let's evaluate the dataset by looking at the `head` function.

In [7]:
# your code here

df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [8]:
# your code here
count=0
for i in range(len(df.columns)):
    for j in range(len(df.index)):
        if df.isnull().iloc[j, i] == 'True':
            print((j,i))
        else:
            count = count + 1
            
print(count) # Counting of evaluation
print(len(df.index)*len(df.columns)) # Total number of elements

# There is no missing data

3465
3465

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [9]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html
# your code here
new_df = df.set_index('Serial No.')

new_df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [10]:
# your code here

df.set_index(['GRE Score', 'CGPA'],inplace=True)

df.head() # NO need to assign new variable, because (inplace=True)

# new_df_2 = df.set_index(['GRE Score', 'CGPA'],inplace=True), Pq?

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html
# your code here

df.reset_index(inplace=True)

df.head()

#df_2 = new_df_2.reset_index(inplace=True), Pq?

# Understanding inplace=True
#https://stackoverflow.com/questions/43893457/understanding-inplace-true

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [12]:
# your code here

#Listing the data

CGPA_up9 = [df.iloc[i, 2] for i in range(len(df['CGPA'])) if df.iloc[i, 1] > 9]
do_research = [df.iloc[int(i-1), 2] for i in CGPA_up9 if df.iloc[int(i-1), 7] == 1]

lst_lst = [[df.iloc[int(i-1), j] for j in range(9)] for i in do_research]
colnames = list(df.columns)

# number of rows where the CGPA is higher than 9 and the student has conducted research.
amount_studets_1 = len(do_research) 


# New DataFrame
highCGPA_research = pd.DataFrame(lst_lst, columns=colnames)

# Print
print(amount_studets_1)

highCGPA_research.head()

101

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,330,9.34,5,115,5,4.5,3.0,1,0.90
2,328,9.10,11,112,4,4.0,4.5,1,0.78
3,328,9.50,20,116,5,5.0,5.0,1,0.94
4,334,9.70,21,119,5,5.0,4.5,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [13]:
# your code here

#Listing the data
sop_down3half = [df.iloc[int(i-1), 2] for i in CGPA_up9 if df.iloc[int(i-1), 5] < 3.5]
lst_lst_2 = [[df.iloc[int(i-1), j] for j in range(9)] for i in sop_down3half]

# number of rows where the CGPA is higher than 9 and the SOP score is less than 3.5.
amount_studets_2 = len(sop_down3half) 

# New DataFrame
highCGPA_lowSOP = pd.DataFrame(lst_lst_2, columns=colnames)

# Print
print(amount_studets_2)

highCGPA_lowSOP

5

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,338,9.40,29,118,4,3.0,4.5,1,0.91
1,327,9.02,63,114,3,3.0,3.0,0,0.61
2,326,9.11,141,114,3,3.0,3.0,1,0.83
3,324,9.01,218,111,4,3.0,3.0,1,0.82
4,325,9.11,382,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [14]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    # mean and standard deviation calculation
    std = np.std(col)
    mean = np.mean(col)
    # New column
    new_col = (col-mean)/std
    return new_col

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [25]:
# your code here

df['CGPA_std'] = standardize(df['CGPA'])
df['GRE_std'] = standardize(df['GRE Score'])
df['LOR_std'] = standardize(df['LOR'])  

df.head()

KeyError: 'LOR'

We will generate the decision choice at random using the code below. Please run the cell.

In [16]:
# Libraries
from random import choices

In [22]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [24]:
# your code here

#df['deciding_column'] = df.lookup(df.index, df['best'])

#df.lookup(df.index, df['best'])

df.lookup(df.index,decision_choice)

KeyError: 'LOR_std'

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here