# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [56]:
# Libraries
import pandas as pd
import numpy as np
import re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
data = pd.read_csv('../data/Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
data.columns = [column.rstrip() for column in data.columns]

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
data.isnull().values.any()

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
data['index'] = data['Serial No.']
data.set_index('index', inplace=True)
data.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
index,,,,,,,,,
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here
data['combined']=data.apply(lambda x:'%s_%s' % (x['GRE Score'],x['CGPA']),axis=1)
len(data['combined'].unique()) == len(data['combined'])

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [8]:
data.set_index(['GRE Score', 'CGPA'], inplace=True)
data.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,combined
GRE Score,CGPA,,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92,337.0_9.65
316,8.00,2,104,3,3.0,3.5,1,0.72,316.0_8.0
322,8.67,3,110,3,3.5,2.5,1,0.80,322.0_8.67
314,8.21,4,103,2,2.0,3.0,0,0.65,314.0_8.21
330,9.34,5,115,5,4.5,3.0,1,0.90,330.0_9.34

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# your code here
data.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [25]:
# your code here
filter_research = data['Research'] == 1
filter_CGPAover9 = data['CGPA'] > 9
len(data[filter_CGPAover9 & filter_research])

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [27]:
# your code here
filter_SOPunder3_5 = data['SOP'] < 3.5
data[filter_CGPAover9 & filter_SOPunder3_5]['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [29]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    return (col - col.mean()) / np.std(col)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [33]:
# your code here
data['CGPA_std'] = standardize(data['CGPA'])
data['GRE_std'] = standardize(data['GRE Score'])
data['LOR_std'] = standardize(data['LOR'])
data.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,combined,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,337.0_9.65,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,316.0_8.0,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,322.0_8.67,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,314.0_8.21,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,330.0_9.34,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [34]:
# Libraries
from random import choices

In [36]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=data.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [42]:
# your code here
data['deciding_column'] = data.lookup(data.index, decision_choice)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [49]:
# your code here
def decision(value):
    if value > 0.8:
        return 1
    else:
        return 0
    
data['decision'] = data.apply(lambda x: decision(x['deciding_column']), axis=1)

In [50]:
data.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,combined,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,337.0_9.65,1.750174,1.755663,1.193197,1.193197,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,316.0_8.0,-0.992501,-0.063450,0.076840,-0.063450,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,322.0_8.67,0.121191,0.456297,-1.039517,0.456297,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,314.0_8.21,-0.643433,-0.236698,-0.481338,-0.236698,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,330.0_9.34,1.234884,1.149292,-0.481338,1.149292,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [55]:
# your code here
len(data[data['decision'] == 1])

83

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [107]:
data.columns

Index(['GRE Score', 'CGPA', 'Serial No.', 'TOEFL Score', 'University Rating',
       'SOP', 'LOR', 'Research', 'Chance of Admit', 'combined', 'CGPA_std',
       'GRE_std', 'LOR_std', 'deciding_column', 'decision'],
      dtype='object')

In [108]:
# your code here
data.columns = [re.sub('\W', '', re.sub(' ', '_', test)).lower() for test in data.columns.to_list()]

In [110]:
data.columns

Index(['gre_score', 'cgpa', 'serial_no', 'toefl_score', 'university_rating',
       'sop', 'lor', 'research', 'chance_of_admit', 'combined', 'cgpa_std',
       'gre_std', 'lor_std', 'deciding_column', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [117]:
# your code here
data['adjusted_gre'] = pd.cut(data[data['university_rating'] >= 4]['gre_score'] + 10, 4)

In [119]:
data[data['university_rating'] >= 4]

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,combined,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,337.0_9.65,1.750174,1.755663,1.193197,1.193197,1,"(337.5, 350.0]"
4,330,9.34,5,115,5,4.5,3.0,1,0.90,330.0_9.34,1.234884,1.149292,-0.481338,1.149292,1,"(337.5, 350.0]"
9,327,9.00,10,111,4,4.0,4.5,1,0.84,327.0_9.0,0.669726,0.889419,1.193197,1.193197,1,"(325.0, 337.5]"
10,328,9.10,11,112,4,4.0,4.5,1,0.78,328.0_9.1,0.835949,0.976043,1.193197,1.193197,1,"(337.5, 350.0]"
18,325,8.40,19,114,4,3.0,2.0,0,0.70,325.0_8.4,-0.327610,0.716170,-1.597696,-1.597696,0,"(325.0, 337.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,335,9.82,371,117,5,5.0,5.0,1,0.96,335.0_9.82,2.032753,1.582414,1.751376,1.751376,1,"(337.5, 350.0]"
377,326,9.12,378,112,4,4.0,3.5,1,0.84,326.0_9.12,0.869194,0.802794,0.076840,0.076840,0,"(325.0, 337.5]"
379,329,9.23,380,111,4,4.5,4.0,1,0.89,329.0_9.23,1.052039,1.062667,0.635019,1.052039,1,"(337.5, 350.0]"
382,330,9.45,383,116,4,5.0,4.5,1,0.91,330.0_9.45,1.417729,1.149292,1.193197,1.193197,1,"(337.5, 350.0]"
384,333,9.66,385,117,4,5.0,4.0,1,0.95,333.0_9.66,1.766796,1.409165,0.635019,0.635019,0,"(337.5, 350.0]"