# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries

import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here

data = pd.read_csv('/home/jc/Escritorio/Github_labs/dataptmad0420/module-2/advanced-pandas/data/Admission_Predict.csv')

data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here

print(data.columns.values.tolist())

#data['State'] = data['State'].str.rstrip()



data.rename(columns=lambda x: x.strip(), inplace=True)

print(data.columns.values.tolist())

data.rename(columns={'Serial No.' : 'Serial'}, inplace=True)

print(data.columns.values.tolist())

['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research', 'Chance of Admit ']
['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit']
['Serial', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit']

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here

data.head()

,Serial,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here


# Count total NaN at each column in a DataFrame 
print(" \nCount total NaN at each column in a DataFrame : \n\n", 
      data.isnull().sum())

Count total NaN at each column in a DataFrame :

 Serial               0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here


data['Serial2'] = data['Serial']
data.set_index('Serial' , append = True , inplace = True)
data.rename(columns={'Serial2' : 'Serial'}, inplace=True)
#data = data.set_index('Serial' , append = True)

data.head()

,,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial
,Serial,,,,,,,,,
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,2
2,3,322,110,3,3.5,2.5,8.67,1,0.80,3
3,4,314,103,2,2.0,3.0,8.21,0,0.65,4
4,5,330,115,5,4.5,3.0,9.34,1,0.90,5

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here
print(len(data['GRE Score'].unique()))
print(len(data['CGPA'].unique()))

49
168

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# your code here

data.head()

data.drop(['Serial'],axis = 1 , inplace = True)

data.reset_index(inplace = True)

data.head()

#data.reset_index()
data.set_index(['GRE Score', 'CGPA'] , append = True , inplace = True)
data.drop(['level_0'],axis = 1 , inplace = True)


data.head()

,,,Serial,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
,GRE Score,CGPA,,,,,,,
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# your code here

data = pd.read_csv('/home/jc/Escritorio/Github_labs/dataptmad0420/module-2/advanced-pandas/data/Admission_Predict.csv')
data.head()

data.rename(columns=lambda x: x.strip(), inplace=True)
data_filtered = data [  (data['CGPA'] > 9) & (data['Research'] == 1)]

print(data_filtered.shape)

(101, 9)

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# your code here

data_filtered_2 = data [  (data['CGPA'] > 9) & (data['SOP'] < 3.5)]

display(data_filtered_2.head())
print(f'Dataset shape:',data_filtered_2.shape)
 
print(f'The mean chance of admit is;',data_filtered_2['Chance of Admit'].mean() )

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
28,29,338,118,4,3.0,4.5,9.40,1,0.91
62,63,327,114,3,3.0,3.0,9.02,0,0.61
140,141,326,114,3,3.0,3.0,9.11,1,0.83
217,218,324,111,4,3.0,3.0,9.01,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84

Dataset shape: (5, 9)
The mean chance of admit is; 0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [11]:
def standardize(data,col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    
    
    # your code here
    
    data[col + '_std'] = data[col].apply(lambda x: (x-data[col].mean()) / data[col].std() )
    
    
    
    return  data

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [12]:
# your code here
standardize(data,'CGPA')
standardize(data,'GRE Score')
standardize(data,'LOR')

data.rename(columns={'GRE Score_std' : 'GRE_std'}, inplace=True)

data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [13]:
# Libraries
from random import choices

In [14]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

data['decision_choice'] = choices(std_columns, k=data.shape[0])
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,CGPA_std
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,GRE_std

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [15]:
# your code here

data['deciding_column'] = data.lookup( data.index, data['decision_choice'] )
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,CGPA_std,1.747900
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [16]:
# your code here



data['decision'] = np.where( (data['deciding_column'] >= 0)  ,1,0 )

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [17]:
# your code here
print( f'A total of:',data['decision'].sum(), 'will pass. This means:', data['decision'].sum()/ len(data['decision'])*100,'% of the total')

A total of: 208 will pass. This means: 54.02597402597402 % of the total

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [18]:
# your code here

def task1(dataframe):
 data.rename(columns=lambda x: x.replace("[^a-zA-Z]","_"), inplace=True)
 data.rename(columns=lambda x: x.replace("","_"), inplace=True)
 data.columns = data.columns.str.lower()
 return data.head()

In [19]:
task1(data) #solution

,_s_e_r_i_a_l_ _n_o_._,_g_r_e_ _s_c_o_r_e_,_t_o_e_f_l_ _s_c_o_r_e_,_u_n_i_v_e_r_s_i_t_y_ _r_a_t_i_n_g_,_s_o_p_,_l_o_r_,_c_g_p_a_,_r_e_s_e_a_r_c_h_,_c_h_a_n_c_e_ _o_f_ _a_d_m_i_t_,_c_g_p_a___s_t_d_,_g_r_e___s_t_d_,_l_o_r___s_t_d_,_d_e_c_i_s_i_o_n___c_h_o_i_c_e_,_d_e_c_i_d_i_n_g___c_o_l_u_m_n_,_d_e_c_i_s_i_o_n_
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,CGPA_std,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740,1
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,1
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [20]:
# your code here


data['_g_r_e_ _s_c_o_r_e_'] =np.where( (data['_u_n_i_v_e_r_s_i_t_y_ _r_a_t_i_n_g_'] >=4) ,data['_g_r_e_ _s_c_o_r_e_'] + 10, data['_g_r_e_ _s_c_o_r_e_'] )
adjusted_gre=pd.cut(data['_g_r_e_ _s_c_o_r_e_'],4)

In [21]:
data.head()

,_s_e_r_i_a_l_ _n_o_._,_g_r_e_ _s_c_o_r_e_,_t_o_e_f_l_ _s_c_o_r_e_,_u_n_i_v_e_r_s_i_t_y_ _r_a_t_i_n_g_,_s_o_p_,_l_o_r_,_c_g_p_a_,_r_e_s_e_a_r_c_h_,_c_h_a_n_c_e_ _o_f_ _a_d_m_i_t_,_c_g_p_a___s_t_d_,_g_r_e___s_t_d_,_l_o_r___s_t_d_,_d_e_c_i_s_i_o_n___c_h_o_i_c_e_,_d_e_c_i_d_i_n_g___c_o_l_u_m_n_,_d_e_c_i_s_i_o_n_
0,1,347,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,CGPA_std,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740,1
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,1
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,0
4,5,340,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,1

In [23]:
adjusted_gre

0       (335.0, 350.0]
1       (305.0, 320.0]
2       (320.0, 335.0]
3       (305.0, 320.0]
4       (335.0, 350.0]
5       (320.0, 335.0]
6       (305.0, 320.0]
7      (289.94, 305.0]
8       (320.0, 335.0]
9       (335.0, 350.0]
10      (335.0, 350.0]
11      (305.0, 320.0]
12      (305.0, 320.0]
13      (305.0, 320.0]
14      (305.0, 320.0]
15      (305.0, 320.0]
16      (305.0, 320.0]
17     (289.94, 305.0]
18      (320.0, 335.0]
19      (335.0, 350.0]
20      (335.0, 350.0]
21      (335.0, 350.0]
22      (320.0, 335.0]
23     (289.94, 305.0]
24     (289.94, 305.0]
25      (305.0, 320.0]
26     (289.94, 305.0]
27      (320.0, 335.0]
28      (335.0, 350.0]
29      (335.0, 350.0]
            ...
355     (305.0, 320.0]
356     (320.0, 335.0]
357     (335.0, 350.0]
358     (320.0, 335.0]
359     (305.0, 320.0]
360    (289.94, 305.0]
361    (289.94, 305.0]
362    (289.94, 305.0]
363    (289.94, 305.0]
364     (305.0, 320.0]
365     (320.0, 335.0]
366     (305.0, 320.0]
367     (320.0, 335.0]
368    (289.94, 305.0]
369     (335.0, 350.0]
370     (335.0, 350.0]
371    (289.94, 305.0]
372     (305.0, 320.0]
373    (289.94, 305.0]
374     (305.0, 320.0]
375     (305.0, 320.0]
376     (305.0, 320.0]
377     (335.0, 350.0]
378     (305.0, 320.0]
379     (335.0, 350.0]
380     (320.0, 335.0]
381     (320.0, 335.0]
382     (335.0, 350.0]
383     (305.0, 320.0]
384     (335.0, 350.0]
Name: _g_r_e_ _s_c_o_r_e_, Length: 385, dtype: category
Categories (4, interval[float64]): [(289.94, 305.0] < (305.0, 320.0] < (320.0, 335.0] < (335.0, 350.0]]