# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np
import regex as re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [46]:
# your code here
df = pd.read_csv('/home/emmanuel/Downloads/Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [47]:
list(df.columns)

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ']

In [50]:
# your code here
df.columns = df.columns.str.rstrip()

#just to erases spaces at the end of the column name

Let's evaluate the dataset by looking at the `head` function.

In [45]:
# your code here
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [28]:
df.shape

(385, 9)

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [30]:
# your code here
print(df.isna().sum())
print(len(df.index)*len(df.columns))

#I don't know if it's what asked here by missing data I
#assumed it was referring to null values

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64
3465

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [7]:
# your code here

df.set_index(['Serial No.'],drop=True,inplace=True)
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
# your code here

print('Unique values by themselves:',
      df[['GRE Score','CGPA']].nunique())

#They are not unique by themselves, but they are when
#you use them together.

print('Mixed columns:',df.groupby(['GRE Score','CGPA']).ngroups)

Unique values by themselves: GRE Score     49
CGPA         168
dtype: int64
Mixed columns: 385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [9]:
df.reset_index(inplace=True,drop=True)
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,316,104,3,3.0,3.5,8.00,1,0.72
2,322,110,3,3.5,2.5,8.67,1,0.80
3,314,103,2,2.0,3.0,8.21,0,0.65
4,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82
381,325,107,3,3.0,3.5,9.11,1,0.84
382,330,116,4,5.0,4.5,9.45,1,0.91
383,312,103,3,3.5,4.0,8.78,0,0.67
384,333,117,4,5.0,4.0,9.66,1,0.95

In [10]:
df.set_index(['GRE Score','CGPA'],inplace=True)
df

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
324,9.04,110,3,3.5,3.5,1,0.82
325,9.11,107,3,3.0,3.5,1,0.84
330,9.45,116,4,5.0,4.5,1,0.91
312,8.78,103,3,3.5,4.0,0,0.67
333,9.66,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# your code here
df.reset_index(inplace=True,drop=False)
df

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
383,312,8.78,103,3,3.5,4.0,0,0.67
384,333,9.66,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [12]:
# your code here

df.loc[(df['CGPA'] > 9) & (df['Research'] == 1)]

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.90
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...
379,329,9.23,111,4,4.5,4.0,1,0.89
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
384,333,9.66,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [88]:
# your code here
a = df.loc[(df['CGPA'] > 9) & (df['SOP'] < 3.5)]
a

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
28,29,338,118,4,3.0,4.5,9.40,1,0.91
62,63,327,114,3,3.0,3.0,9.02,0,0.61
140,141,326,114,3,3.0,3.0,9.11,1,0.83
217,218,324,111,4,3.0,3.0,9.01,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84

In [93]:
print(a.mean(axis=0))
a[(a['CGPA']>9) & (a['SOP']<3.5)]['Chance of Admit'].mean()

#I tried different forms but I dont know why it doesnt 
#take ['Chance of Admit'] it only works doing it this way
#I wonder if theres a way to do it right away
#something like a['Chance of admit'].mean()

Serial No.           166.600
GRE Score            328.000
TOEFL Score          112.800
University Rating      3.400
SOP                    3.000
LOR                    3.400
CGPA                   9.130
Research               0.800
Chance of Admit        0.802
dtype: float64

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [4]:
       
    """
   
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    
    # z=x-µ/ø
def standarize(col):
        mean = np.mean(col)
        std = np.std(col)
        standarized = (col-mean)/std
        return standarized

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [67]:
# your code here
#['CGPA_std', 'GRE_std', 'LOR_std']
df.assign(CGPA_std = standarize(df['CGPA']),
          LOR_std = standarize(df['LOR']),
          GRE_std = standarize(df['GRE Score']))

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,LOR_std,GRE_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.193197,1.755663
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,0.076840,-0.063450
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,-1.039517,0.456297
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.481338,-0.236698
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,-0.481338,1.149292
...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.076840,0.629546
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.076840,0.716170
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.193197,1.149292
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,0.635019,-0.409947
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,0.635019,1.409165

We will generate the decision choice at random using the code below. Please run the cell.

In [68]:
# Libraries
from random import choices

In [77]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [81]:
# your code here
df['deciding_colum'] = df.lookup(df.index,decision_choice)

KeyError: 'GRE_std'

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here
#1
df.loc[df['deciding_column'] > 0.8, 'decision'] = 1
df.loc[df['deciding_column'] < 0.8, 'decision'] = 0

#2 using a function and applying it
def column_maker(row):
    if row['deciding_column'] > 0.8:
        value = 1
    elif row['deciding_colum'] < 0.8:
        value = 0
    return value
    
df['decision'] = df.apply(column_maker,axis=1)

#I wasnt able to make the lookup method to work I dont know why, so I try to solve this one
#w/o really knowing if its working, but I would do it one of these 2 ways.

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [94]:
copy = df.copy()

In [99]:
# your code here
names = list(copy.columns)
copy.columns = [name.strip().lower().replace(" ","_").replace("#","") for name in names] 
copy.head()

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [113]:
def booster(col):
    for item in col:
        if item >= 4:
            item + 10
        else:
            pass

In [115]:
# your code here
#copy['adjusted_gre']= copy.apply(booster(copy['university_rating']))