# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
df=pd.read_csv('../../../../../Downloads/Admission_Predict.csv')

df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
print(df.columns)
df.rename(columns={'LOR ': 'LOR', 'Chance of Admit ': 'Chance of Admit'}, inplace=True)
print(df.columns)

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')
Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here

df.isnull().sum()

# There is no null values in any column

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
df.set_index('Serial No.', inplace=True, drop=False)
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here

df[['GRE Score', 'CGPA']]

            GRE Score  CGPA
Serial No.
1                 337  9.65
2                 316  8.00
3                 322  8.67
4                 314  8.21
5                 330  9.34
...               ...   ...
381               324  9.04
382               325  9.11
383               330  9.45
384               312  8.78
385               333  9.66

[385 rows x 2 columns]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# your code here

df.set_index(['GRE Score','CGPA'], inplace=True, drop=True)
df

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

In [9]:
df.reset_index(inplace=True)
df

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
# your code here

len(df[(df['CGPA']>9) & (df['Research']==1)])

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [11]:
# your code here
df[(df['CGPA']>9) & (df['SOP']<3.5)]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,29,118,4,3.0,4.5,1,0.91
62,327,9.02,63,114,3,3.0,3.0,0,0.61
140,326,9.11,141,114,3,3.0,3.0,1,0.83
217,324,9.01,218,111,4,3.0,3.0,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84

In [12]:
df[(df['CGPA']>9) & (df['SOP']<3.5)]['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [13]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    my_column_name=col.name                                        # take the name of the column
    my_stdcolumn_name=my_column_name + '_std'                      # create the new column name adding _std
    mean=np.mean(col)
    std=np.std(col)
    std_col = pd.DataFrame([(i-mean)/std for i in col])            # create a dataframe from a serie (list)
    std_col.rename(columns={0 : my_stdcolumn_name}, inplace=True)  # rename the column of dataframe
    return std_col[my_stdcolumn_name]                              # return the new column

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [14]:
# your code here

a=standardize(df['CGPA'])
df[a.name]=a

b=standardize(df['GRE Score'])                      # the original name of column GRE is 'GRE Score' 
df[b.name]=b

c=standardize(df['LOR'])
df[c.name]=c

df

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [15]:
# Libraries
from random import choices

In [16]:
std_columns = ['CGPA_std', 'GRE Score_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])

print(decision_choice)

['GRE Score_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'GRE Score_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'CGPA_std', 'CGPA_std', 'GRE Score_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE Score_std', 'LOR_std', 'LOR_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [17]:
# your code here

df['deciding_column'] = decision_choice

df

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE Score_std
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,GRE Score_std
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,LOR_std
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,CGPA_std
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,LOR_std
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE Score_std
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [18]:
# your code here

def take_decision(a, b, c, d):
    if a=='CGPA_std':
        if b>0.8:
            return 1
        else:
            return 0
    elif a=='GRE Score_std':
        if c>0.8:
            return 1
        else:
            return 0
    elif a=='LOR_std':
        if d>0.8:
            return 1
        else:
            return 0

df['decision']=list(map(take_decision, df['deciding_column'] ,df['CGPA_std'], df['GRE Score_std'], df['LOR_std']))

df

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE Score_std,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,GRE Score_std,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,LOR_std,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,CGPA_std,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,LOR_std,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE Score_std,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [19]:
# your code here

len(df[(df['decision']==1)])

96

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [20]:
# your code here

df.columns=[i.replace(' ','_').lower() for i in list(df.columns)]

df

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE Score_std,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,GRE Score_std,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,LOR_std,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,CGPA_std,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,LOR_std,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE Score_std,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [21]:
# your code here
                                                                   # We create with map the modified value of gre_score. Then with cut we group in four bins.
df.describe()

def adjust_gre_score(a, b):
    if b>=4:
        a+=10
    return a

bins=[289,290+(350-290)/4,290+2*(350-290)/4,290+3*(350-290)/4,350]
df['adjusted_gre']=pd.cut(list(map(adjust_gre_score, df['gre_score'] ,df['university_rating'])),bins=bins)

df

,gre_score,cgpa,serial_no.,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE Score_std,1,"(335.0, 350.0]"
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,GRE Score_std,0,"(305.0, 320.0]"
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,LOR_std,0,"(320.0, 335.0]"
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,0,"(305.0, 320.0]"
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,CGPA_std,1,"(335.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std,0,"(320.0, 335.0]"
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,LOR_std,0,"(320.0, 335.0]"
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE Score_std,1,"(335.0, 350.0]"
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0,"(305.0, 320.0]"
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0,"(335.0, 350.0]"

In [22]:
df['adjusted_gre'].value_counts()

(305.0, 320.0]    150
(320.0, 335.0]     90
(335.0, 350.0]     75
(289.0, 305.0]     70
Name: adjusted_gre, dtype: int64

In [23]:
df[df['adjusted_gre'].isnull()]

Empty DataFrame
Columns: [gre_score, cgpa, serial_no., toefl_score, university_rating, sop, lor, research, chance_of_admit, cgpa_std, gre_score_std, lor_std, deciding_column, decision, adjusted_gre]
Index: []