# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
df = pd.read_csv('../data/Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [3]:
new_cols = [col.strip() for col in df.columns.to_list()]
df.columns = new_cols

Let's evaluate the dataset by looking at the `head` function.

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
df.isnull().values.any()

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
df.set_index('Serial No.',drop=False,inplace=True)
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
df.set_index(['GRE Score','CGPA'])

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
321,8.20,6,109,3,3.0,4.0,1,0.75
308,7.90,7,101,2,3.0,4.0,0,0.68
302,8.00,8,102,1,2.0,1.5,0,0.50
323,8.60,9,108,3,3.5,3.0,0,0.45
327,9.00,10,111,4,4.0,4.5,1,0.84
328,9.10,11,112,4,4.0,4.5,1,0.78
307,8.00,12,109,3,4.0,3.0,1,0.62
311,8.20,13,104,3,3.5,2.0,1,0.61
314,8.30,14,105,3,3.5,2.5,0,0.54
317,8.70,15,107,3,4.0,3.0,0,0.66
319,8.00,16,106,3,4.0,3.0,1,0.65
318,8.80,17,110,3,4.0,3.0,0,0.63
303,8.50,18,102,3,3.5,3.0,0,0.62
325,8.40,19,114,4,3.0,2.0,0,0.70
328,9.50,20,116,5,5.0,5.0,1,0.94
334,9.70,21,119,5,5.0,4.5,1,0.95
336,9.80,22,119,5,4.0,3.5,1,0.97
322,8.80,23,109,5,4.5,3.5,0,0.76
298,7.50,24,98,2,1.5,2.5,1,0.44
295,7.20,25,93,1,2.0,2.0,0,0.46
310,7.30,26,99,2,1.5,2.0,0,0.54
300,8.10,27,97,2,3.0,3.0,1,0.65
327,8.30,28,103,3,4.0,4.0,1,0.74
338,9.40,29,118,4,3.0,4.5,1,0.91
340,9.60,30,114,5,4.0,4.0,1,0.90
...,...,...,...,...,...,...,...,...
310,8.24,356,103,2,2.5,2.5,0,0.72
324,9.22,357,110,3,3.5,3.0,1,0.89
336,9.62,358,119,4,4.5,4.0,1,0.95
321,8.54,359,109,3,3.0,3.0,1,0.79
315,7.65,360,105,2,2.0,2.5,0,0.39
304,7.66,361,101,2,2.0,2.5,0,0.38
297,7.43,362,96,2,2.5,2.0,0,0.34
290,7.56,363,100,1,1.5,2.0,0,0.47
303,7.65,364,98,1,2.0,2.5,0,0.56
311,8.43,365,99,1,2.5,3.0,1,0.71
322,8.84,366,104,3,3.5,4.0,1,0.78
319,8.67,367,105,3,3.0,3.5,1,0.73
324,9.15,368,110,4,4.5,4.0,1,0.82
300,8.26,369,100,3,3.0,3.5,0,0.62
340,9.74,370,113,4,5.0,5.0,1,0.96
335,9.82,371,117,5,5.0,5.0,1,0.96
302,7.96,372,101,2,2.5,3.5,0,0.46
307,8.10,373,105,2,2.0,3.5,0,0.53
296,7.80,374,97,2,1.5,2.0,0,0.49
320,8.44,375,108,3,3.5,4.0,1,0.76
314,8.24,376,102,2,2.0,2.5,0,0.64
318,8.65,377,106,3,2.0,3.0,0,0.71
326,9.12,378,112,4,4.0,3.5,1,0.84
317,8.76,379,104,2,3.0,3.0,0,0.77
329,9.23,380,111,4,4.5,4.0,1,0.89
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [8]:
df.set_index(['GRE Score','CGPA'],inplace=True)

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
df.reset_index(inplace=True,drop=True)
df.head()

,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,1,118,4,4.5,4.5,1,0.92
1,2,104,3,3.0,3.5,1,0.72
2,3,110,3,3.5,2.5,1,0.80
3,4,103,2,2.0,3.0,0,0.65
4,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [20]:
df = pd.read_csv('../data/Admission_Predict.csv')

In [21]:
new_cols = [col.strip() for col in df.columns.to_list()]
df.columns = new_cols

In [22]:
filter_1 = (df['CGPA']>9) & (df['Research']==1)
df[filter_1].head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [13]:
filter_2 = (df['CGPA']>9) & (df['SOP']<3.5)
df[filter_2]['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [14]:
df['TOEFL Score'].std()

6.121456259061378

In [23]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    return (df[col] - df[col].mean())/ df[col].std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [24]:
cols = ['CGPA','GRE Score','LOR']
new_cols = ['CGPA_std', 'GRE_std', 'LOR_std']

for col,newcol in zip(cols,new_cols):
    df[newcol] = standardize(col)
    
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [17]:
from random import choices

In [32]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [37]:
df['deciding_column'] = df[decision_choice ]

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [39]:
df['decision'] = df['deciding_column'].apply(lambda x: 1 if x>0.8 else 0)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [40]:
filter_4 = df['decision'] == 1
number_accepted = df[filter_4]['decision'].count()

print(f'applicants accepted: {number_accepted}')

applicants accepted: 96

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [41]:
df.columns = df.columns.str.replace('[^a-zA-Z ]', '').str.lower().str.replace(' ','_')
df.head()

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpastd,grestd,lorstd,decidingcolumn,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,0.121034,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.233279,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [43]:
df['adjusted_gre'] = pd.cut(df.apply(lambda x: x['gre_score']+10 if x['university_rating'] > 4 else x['gre_score'],axis=1),4)
df.head()

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpastd,grestd,lorstd,decidingcolumn,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1,"(335.0, 350.0]"
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0,"(305.0, 320.0]"
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,0.121034,0,"(320.0, 335.0]"
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0,"(305.0, 320.0]"
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.233279,1,"(335.0, 350.0]"